<!-- INCLUDE overall_header.html -->

<a id="maincontent"></a>

<h1>{L_TITLE}</h1>
<span>{L_TITLE_DESCRIPTION}</span>

<!-- IF S_ERROR --><div class="errorbox"><h3>{L_WARNING}</h3><p>{ERROR_MSG}</p></div><!-- ENDIF -->
<form id="config" method="post" action="{U_ACTION}">
<fieldset>
	<legend>{L_TITLE_EXPLAIN}</legend>
	<dl>
		<dt><label for="recent_topics">{L_ACP_RECENT_JAVASCRIPT}{L_COLON}</label>
		<br /><span>{L_ACP_RECENT_JAVASCRIPT_EXPLAIN}</span></dt>
		<dd><input type="text" style="min-width:50%" value='&lt;script type="text/javascript" src="{U_RECENT_TOPICS}"&gt;&lt;/script&gt;' /></dd>
	</dl>
</fieldset>

<div id="recent_topics"></div>

<!-- BEGIN options -->
	<!-- IF options.S_LEGEND -->
		<!-- IF not options.S_FIRST_ROW -->
			</fieldset>
		<!-- ENDIF -->
		<fieldset>
			<legend>{options.LEGEND}</legend>
	<!-- ELSE -->
		<dl>
			<dt><label for="{options.KEY}">{options.TITLE}{L_COLON}</label><!-- IF options.S_EXPLAIN --><br /><span>{options.TITLE_EXPLAIN}</span><!-- ENDIF --></dt>
			<dd>{options.CONTENT}</dd>
		</dl>
	<!-- ENDIF -->
<!-- END options -->
	<p class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
	</p>
	{S_FORM_TOKEN}
</fieldset>
</form>

<script type="text/javascript" src="{T_JQUERY_LINK}"></script>
<!-- INCLUDEJS @bb3mobi_recent_topics/crawl.js -->
<script type="text/javascript">
$(document).ready(function() {
	$.ajax({
		url: "http://bb3.mobi/forum/recent.php?mode=crawl",
		type: "GET",
		cache: true,
		success: function(data) {
			$("#recent_topics").html(data);
			marqueeInit({
				uniqueid: 'recent_topics',
				style: {
					'padding': '0px',
					'width': '99%',
					'margin': '0 auto'
				},
				inc: 4, //speed - pixel increment for each iteration of this marquee's movement
				mouse: 'cursor driven', //mouseover behavior ('pause' 'cursor driven' or false)
				moveatleast: 1,
				neutral: 600,
				savedirection: false
			});
		}
	});
});
</script>

<!-- INCLUDE overall_footer.html -->
