<!-- IF .topicrow -->
document.writeln('<ul class="recent">\n');
<!-- BEGIN topicrow -->
document.writeln('<li class="title"><a href="{topicrow.U_TOPIC}">{topicrow.TOPIC_TITLE}</a><!-- IF topicrow.TOPIC_REPLIES --> [<a href="{topicrow.U_LAST_POST}">{topicrow.TOPIC_REPLIES}</a>]<!-- ENDIF --></li>\n');
	<!-- BEGIN first_post_text -->
	document.writeln('<li class="content">{topicrow.first_post_text.TOPIC_FIRST_POST_TEXT}\n');
		<!-- BEGIN attachment -->
		document.writeln('<br />{topicrow.first_post_text.attachment.DISPLAY_ATTACHMENT}\n');
		<!-- END attachment -->
	document.writeln('</li>\n');
	<!-- END first_post_text -->
<!-- END topicrow -->
document.writeln('</ul>\n');
<!-- ENDIF -->
