<!-- IF USER_FLAG and not (FLAG_POSITION_BELOW_RANK or FLAG_POSITION_ABOVE_RANK) -->
	<dt>{L_USER_FLAG}{L_COLON}</dt> <dd id="flagusers" class="memberlist_flags"><a href="{U_FLAG}">{USER_FLAG}</a></dd>
<!-- ENDIF -->