﻿	<!-- INCLUDE announcement_centre.html -->
	<div id="datebar">
		<table width="100%" cellspacing="0">
		<tr>
		

					<td class="gensmall">
Форум клуба 4х4 функционирует с 2003 года и с каждым днем регистрируются новые члены, ежедневно появляются топики и ответы. Все темы форума размещены в соответствующих разделах, для удобства поиска,  но если не удалось найти ответа на возникший вопрос, то воспользуйтесь поиском форума, наверняка найдет, то что искали, а если возникают вопросы по навигации сайта или есть неточности или проблемы на форуме, то дайте знать администрации (infо (a) 4x4.by). Также обращайтесь если что-то не получается сделать на форуме, постараемся быстро решить вопросы. 

<!-- PHP -->
global $phpbb_root_path;

if (!defined('_SAPE_USER')){
define('_SAPE_USER', '0005cfc09745088cf6cff726aef15a4b');
}
require_once($phpbb_root_path ._SAPE_USER.'/sape.php');
$o['charset'] = 'UTF-8';
$sape = new SAPE_client($o);
unset($o);
echo $sape->return_links();

 define('TRUSTLINK_USER', 'd00bcfa4650d942faef01baed6e13da89900e495');
 require_once($_SERVER['DOCUMENT_ROOT'].'/'.TRUSTLINK_USER.'/trustlink.php');
 $o['charset'] = 'UTF-8'; // 
 $trustlink = new TrustlinkClient($o);
 unset($o);
 echo $trustlink->build_links();
<!-- ENDPHP -->
</td>
		
		
			<td class="gensmall"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ENDIF --></td>
			<td class="gensmall" align="{S_CONTENT_FLOW_END}">{CURRENT_TIME}<br /></td>
		</tr>
		</table>
	</div>

<!--# Footer -->
	<div id="footer">
    <div id="bot">
    <table id="table-bot"> 
    <tbody> 
        <tr>
            <td>&copy; 2013 При использовании материалов сайта <br /><a rel="nofollow" href="http://4x4.by">www.4x4.by</a>- активная ссылка обязательна!</td>
            <td> 
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script><div class="fb-like" data-href="http://www.facebook.com/pages/%D0%90%D0%B2%D1%82%D0%BE%D1%81%D0%BF%D0%BE%D1%80%D1%82%D0%91%D0%A3/193651364037611" data-send="false" data-width="360" data-show-faces="true"></div></td>
            <td class="ac"><a rel="nofollow" href="/click-2.html" target="_blank" title="Создание и поддержка сайта"><img src="/up/logo/logo_advancesite.png" alt="создание и реклама сайтов" /></a><br /><font size="1">Идея сайта: Сергей Шкель<br />Администратор: Данила Долматов</ font></td>
        </tr> 
    </tbody>
    </table>
    </div>
</div> 
<!--# Footer -->

	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<div id="wrapfooter">
	<!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><!-- ENDIF -->
	<span class="copyright">
	<!-- IF DEBUG_OUTPUT --><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21066196 = new Ya.Metrika({id:21066196,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21066196" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>