<!-- paste following code in the header section of the HTML document -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

<!-- paste following code wherever you want to show the widget -->
<!-- make sure to replace the variable ibw_textarea_id -->
<div id="ImageBamWidgetContainer"></div>
<script type="text/javascript">
    ibw_code_type = "bb";
    ibw_textarea_id = "message"; // replace this with the correct ID
    ibw_container = "ImageBamWidgetContainer";
</script>
<script type="text/javascript" src="http://www.imagebam.com/files/imagebam-widget.js"></script>
