<!-- INCLUDE overall_header.html -->
	<h1>{L_ACP_FADEHEADER}</h1>

	<p>{L_FADEHEADER_VERSION}{L_COLON} {FADEHEADER_VERSION}</p>

	<form id="acp_fadeheader_config" method="post" action="{U_ACTION}">

	<fieldset>
	<legend>{L_ACP_FADEHEADER_CONFIG_SET}</legend>
	<dl>
		<dt><label for="fadeheader_enablepm">{L_FADEHEADER_ENABLEPM}{L_COLON}</label><br />
		<span>{L_FADEHEADER_ENABLEPM_EXPLAIN}</span></dt>
		<dd><label><input type="radio" class="radio" name="fadeheader_enablepm" value="1"<!-- IF FADEHEADER_ENABLEPM --> id="fadeheader_enablepm" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		<label><input type="radio" class="radio" name="fadeheader_enablepm" value="0"<!-- IF not FADEHEADER_ENABLEPM --> id="fadeheader_enablepm" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
	</dl>
	<dl>
		<dt><label for="fadeheader_temp">{L_FADEHEADER_TEMP}{L_COLON}</label><br />
		<span>{L_FADEHEADER_TEMP_EXPLAIN}</span></dt>
		<dd><input name="fadeheader_temp" type="text" id="fadeheader_temp" size="3" value="{FADEHEADER_TEMP}"	maxlength="3" /></dd>
	 </dl>		
	<dl>
		<dt><label for="fadeheader_height">{L_FADEHEADER_HEIGHT}{L_COLON}</label><br />
		<span>{L_FADEHEADER_HEIGHT_EXPLAIN}</span></dt>
		<dd><input name="fadeheader_height" type="text" id="fadeheader_height" size="3" value="{FADEHEADER_HEIGHT}"	maxlength="3" /></dd>
	 </dl>
	<dl>
		<dt><label for="fadeheader_text_twitter">{L_FADEHEADER_TEXT_TWITTER}{L_COLON}</label><br />
		<span>{L_FADEHEADER_TEXT_TWITTER_EXPLAIN}</span></dt>
		<dd><input name="fadeheader_text_twitter" type="text" id="fadeheader_text_twitter" size="40" value="{FADEHEADER_TEXT_TWITTER}"	maxlength="255" /></dd>
	 </dl>		 
	<dl>
		<dt><label for="fadeheader_image">{L_FADEHEADER_IMAGE}{L_COLON}</label><br />
		<span>{L_FADEHEADER_IMAGE_EXPLAIN}</span></dt>
		<dd><input name="fadeheader_image" type="text" id="fadeheader_image" size="40" value="{FADEHEADER_IMAGE}" maxlength="255" /></dd>
	 </dl>	 	 
	</fieldset>
	
	<fieldset>	
	<legend>{L_ACP_FADEHEADER_CONFIG_STYLE}</legend>
    <p>{L_ACP_FADEHEADER_CONFIG_STYLE_EXPLAIN}</p><hr />	
	<dl>
		<dt><label for="fadeheader_enablereg">{L_FADEHEADER_ENABLEREG}{L_COLON}</label><br />
		<span>{L_FADEHEADER_ENABLEREG_EXPLAIN}</span></dt>
		<dd><label><input type="radio" class="radio" name="fadeheader_enablereg" value="1"<!-- IF FADEHEADER_ENABLEREG --> id="fadeheader_enablereg" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		<label><input type="radio" class="radio" name="fadeheader_enablereg" value="0"<!-- IF not FADEHEADER_ENABLEREG --> id="fadeheader_enablereg" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
	</dl>	
	<dl>
		<dt><label for="fadeheader_image2">{L_FADEHEADER_IMAGE2}{L_COLON}</label><br />
		<span>{L_FADEHEADER_IMAGE2_EXPLAIN}</span></dt>
		<dd><input name="fadeheader_image2" type="text" id="fadeheader_image2" size="40" value="{FADEHEADER_IMAGE2}"	maxlength="255" /></dd>
	 </dl>
<hr />	 
	<dl>
		<dt><label for="fadeheader_enablebh">{L_FADEHEADER_ENABLEBH}{L_COLON}</label><br />
		<span>{L_FADEHEADER_ENABLEBH_EXPLAIN}</span></dt>
		<dd><label><input type="radio" class="radio" name="fadeheader_enablebh" value="1"<!-- IF FADEHEADER_ENABLEBH --> id="fadeheader_enablerbh" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		<label><input type="radio" class="radio" name="fadeheader_enablebh" value="0"<!-- IF not FADEHEADER_ENABLEBH --> id="fadeheader_enablebh" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
	</dl>	
	<dl>
		<dt><label for="fadeheader_image3">{L_FADEHEADER_IMAGE3}{L_COLON}</label><br />
		<span>{L_FADEHEADER_IMAGE3_EXPLAIN}</span></dt>
		<dd><input name="fadeheader_image3" type="text" id="fadeheader_image3" size="40" value="{FADEHEADER_IMAGE3}"	maxlength="255" /></dd>
	 </dl>
<hr />	 
	<dl>
		<dt><label for="fadeheader_enablebf">{L_FADEHEADER_ENABLEBF}{L_COLON}</label><br />
		<span>{L_FADEHEADER_ENABLEBF_EXPLAIN}</span></dt>
		<dd><label><input type="radio" class="radio" name="fadeheader_enablebf" value="1"<!-- IF FADEHEADER_ENABLEBF --> id="fadeheader_enablerbf" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		<label><input type="radio" class="radio" name="fadeheader_enablebf" value="0"<!-- IF not FADEHEADER_ENABLEBF --> id="fadeheader_enablebf" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
	</dl>
	<dl>
		<dt><label for="fadeheader_text_field">{L_FADEHEADER_TEXT_FIELD}{L_COLON}</label><br />
		<span>{L_FADEHEADER_TEXT_FIELD_EXPLAIN}</span></dt>
		<dd><input name="fadeheader_text_field" type="text" id="fadeheader_text_field" size="40" value="{FADEHEADER_TEXT_FIELD}"	maxlength="255" /></dd>
	 </dl>	 	 	 
	</fieldset>	  

	<p class="submit-buttons">
		<input type="hidden" name="action" value="save" />

		<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
		{S_FORM_TOKEN}
	</p>
	</fieldset>
	</form>

<!-- INCLUDE overall_footer.html -->
