/* proSilver Style Sheet DM Easy Download System
------------------------------------------------------------*/

dd.eds-title {
	width: 25%;
	overflow: hidden;
	text-align: left;
	line-height: 2.2em;
	font-size: 1.1em;

}

dd.eds-version {
	width: 5%;
	min-width: 60px;
	overflow: hidden;
	text-align: center;
	line-height: 2.2em;
	font-size: 1.1em;
}

dd.eds-desc {
	width: 35%;
	overflow: hidden;
	margin-left: 2px;
	margin-right: 2px;
	text-align: left;
	line-height: 1.2em;
	font-size: 1.1em;
}

dd.eds-desc-small {
	width: 30%;
	margin-left: 2px;
	margin-right: 2px;
	text-align: left;
	line-height: 1.2em;
	font-size: 1.1em;
}

dd.eds-count {
	width: 10%;
	overflow: hidden;
	text-align: center;
	font-size: 1.1em;
}

dd.eds-cost {
	width: 8%;
	min-width: 100px;
	overflow: hidden;
	text-align: center;
	font-size: 1.1em;
}

dd.eds-filesize {
	width: 8%;
	min-width: 60px;
	overflow: hidden;
	text-align: center;
	line-height: 1.2em;
	font-size: 1.1em;
}
dd.eds-dl {
	width: 68px;
	min-width: 60px;
	text-align: center;
	font-size: 1.1em;
}

dd.eds-lastpost {
	width: 30%;
	min-width: 60px;
	text-align: left;
	font-size: 1.1em;
}

div.eds-legend {
	text-align: center;
	vertical-align: middle;
	line-height: 1.2em;
	font-size: 1.1em;
}