<!-- INCLUDE overall_header.html -->
<!-- IF S_ADD_FLAG -->

<a href="{U_BACK}" style="float: {S_CONTENT_FLOW_END};">&laquo; {L_BACK}</a>

<h1>{L_TITLE}</h1>

<div class="errorbox">
	<!-- IF S_ERROR -->
	<h3>{L_WARNING}</h3>
	<p>{ERROR_MSG}</p>
	<!-- ENDIF -->
	<!-- IF !S_ERROR --><p><!-- IF not S_UPLOAD_FLAG -->{L_ACP_NO_UPLOAD}<!-- ENDIF --><!-- IF S_UPLOAD_FLAG --><!-- IF S_CAN_OVERWRITE -->{L_FLAG_UPLOAD_NOTICE}<!-- ELSE -->{L_FLAG_UPLOAD_NO_OVERWRITE}<!-- ENDIF --><!-- ENDIF --></p><!-- ENDIF -->
</div>


<form id="acp_add_flag" method="post" action="{U_ACTION}" {S_FORM_ENCTYPE}>
	<fieldset>
		<!-- IF FOUND_FLAG -->
		<dl>
			<dt><label for="current_flag">{L_FLAG_FOUND}{L_COLON}</label></dt>
			<dd>{FLAG_IMAGE}<br><img src="{FOUND_FLAG}" alt="{FLAG_NAME}" title="{FLAG_NAME}" /></dd>
		</dl>
		<!-- ENDIF -->
		<!-- IF S_UPLOAD_FLAG -->
		<dl>
			<dt><label for="flag_upload">{L_FILENAME}{L_COLON}</label></dt>
			<dd>
				<input type="file" name="flag_upload" id="flag_upload" class="inputbox autowidth" />
				<input type="hidden" name="old_flag" id="old_flag" value="{FLAG_IMAGE}" />
			</dd>
		</dl>
		<!-- ENDIF -->
		<dl>
			<dt><label for="flag_name">{L_FLAG_NAME}{L_COLON}</label><br><span>{L_FLAG_NAME_EXPLAIN}</span></dt>
			<dd><input name="flag_name" type="text" id="flag_name" value="{FLAG_NAME}" maxlength="255" /></dd>
		</dl>
		<!-- IF S_ADD_FLAG and not S_UPLOAD_FLAG --><dl>
			<dt><label for="flag_image">{L_FLAG_IMG}{L_COLON}</label><br><span>{L_FLAG_IMG_EXPLAIN}</span></dt>
			<dd><input name="flag_image" type="text" id="flag_image" value="{FLAG_IMAGE}" maxlength="255" /></dd>
		</dl><!-- ENDIF -->
		<dl>
			<dt><label for="flag_default">{L_FLAG_DEFAULT}{L_COLON}</label><br><span>{L_FLAG_DEFAULT_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="flag_default" value="1" <!-- IF FLAG_DEFAULT -->id="flag_default" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="flag_default" value="0" <!-- IF not FLAG_DEFAULT -->id="flag_default" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>

		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />
		</p>
		{S_FORM_TOKEN}
	</fieldset>
	<fieldset>
		<dl>
			<dt><label for="flag_listing">{L_IMAGES_ON_SERVER}{L_COLON}</label></dt>
			<dd>{FLAG_LIST}</dd>
		</dl>
	</fieldset>
</form>

<!-- ELSEIF S_FLAGS -->

<h1>{TOTAL_FLAGS} {L_ACP_FLAGS}</h1>

<p>{L_ACP_FLAGS_EXPLAIN}<br>{L_ACP_FLAGS_DONATE}</p>

<form id="acp_flags" method="post" action="{U_ACTION}">
	<fieldset class="quick">
		<input class="button2" name="add" type="submit" value="{L_FLAG_ADD}" />
	</fieldset>
	
	<!-- IF .pagination -->
	<div class="pagination top-pagination">
		<!-- INCLUDE pagination.html -->
	</div>
	<!-- ENDIF -->

	<table class="table1 fixed-width-table">
		<thead>
			<tr>
				<th>{L_FLAG_NAME}</th>
				<th>{L_FLAG_DEFAULT}</th>
				<th>{L_ACP_FLAG_USERS}</th>
				<th style="text-align: center;">{L_FLAG_IMG}</th>
				<th style="text-align: center;">{L_OPTIONS}</th>
			</tr>
		</thead>
		<tbody>
		<!-- BEGIN flags -->
			<!-- IF flags.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
				<td>{flags.FLAG_NAME}</td>
				<td><!-- IF flags.FLAG_DEFAULT -->{L_YES}<!-- ELSE -->{L_NO}<!-- ENDIF --></td>
				<td>{flags.USER_COUNT}</td>
				<td style="text-align: center;"><a href="{flags.U_FLAG}"><img src="{flags.FLAG_IMG}" alt="{flags.FLAG_NAME}" title="{flags.FLAG_NAME}" /></a></td>
				<td style="text-align: center; white-space: nowrap;">
					&nbsp;<a href="{flags.U_EDIT}">{ICON_EDIT}</a> <a href="{flags.U_DELETE}">{ICON_DELETE}</a>
				</td>
			</tr>
		<!-- END flags -->
		</tbody>
	</table>

	<!-- IF .pagination -->
		<div class="pagination">
			<!-- INCLUDE pagination.html -->
		</div>
	<!-- ENDIF -->

	<fieldset class="quick">
		<input class="button2" name="add" type="submit" value="{L_FLAG_ADD}" />
		{S_FORM_TOKEN}
	</fieldset>

</form>
<!-- ENDIF -->
<!-- INCLUDE overall_footer.html -->