<!-- IF FIRST_IMAGES_TOPIC -->
<div class="attach_image" style="float:<!-- IF FIRST_IMAGES_FLOAT -->left<!-- ELSE -->right<!-- ENDIF -->">
<!-- IF topicrow.FILSE_EXIST --><img src="{topicrow.ATTACH_IMG}" width="{FIRST_IMAGES_TOPIC}" height="{FIRST_IMAGES_TOPIC}" alt="" />
<!-- ELSE -->
<img src="{BOARD_URL}ext/bb3mobi/imgposts/no-photo.png" width="{FIRST_IMAGES_TOPIC}" height="{FIRST_IMAGES_TOPIC}" alt="" />
<!-- ENDIF -->
</div>
<!-- ENDIF -->