<!-- INCLUDE mcp_header.html -->

<h2><a href="{U_VIEW_TOPIC}">{L_TOPIC}: {TOPIC_TITLE}</a></h2>

<form id="mcp" method="post" action="{S_MCP_ACTION}">

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<h4><!-- IF not TOPIC_MODERATOR -->{L_TOPIC_MODERATOR_NONE}<!-- ELSE --><div style="float:left">{L_TOPIC_MODERATOR}: {TOPIC_MODERATOR}&nbsp;</div><ul class="profile-icons" style="display:inline"><li class="delete-icon"><a href="{U_REMOVE_TM}" title="{L_TOPIC_MODERATOR_REMOVE}"><span>{L_TOPIC_MODERATOR_REMOVE}</span></a></li></ul><!-- ENDIF --></h4><br clear="both">
	<br />
	<fieldset>
	<dl>
		<dt><label for="username">{L_SELECT_USER}:</label></dt>
		<dd><input name="username" id="username" type="text" class="inputbox autowidth" value="{TM_USERNAME}" /><strong><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></strong></dd>
	</dl>
	<dl>
		<dt><label for="can_reply">{L_TOPIC_MODERATOR_CAN_REPLY}:</label></dt>
		<dd><label for="can_reply_yes"><input name="can_reply" id="can_reply_yes" type="radio" value="1" <!-- IF CAN_REPLY -->checked="checked"<!-- ENDIF --> />{L_YES}</label> <label for="can_reply_no"><input name="can_reply" id="can_reply_no" type="radio" value="0" <!-- IF not CAN_REPLY -->checked="checked"<!-- ENDIF --> />{L_NO}</label></dd>
	</dl>
	<dl>
		<dt><label for="can_edit">{L_TOPIC_MODERATOR_CAN_EDIT}:</label></dt>
		<dd><label for="can_edit_yes"><input name="can_edit" id="can_edit_yes" type="radio" value="1" <!-- IF CAN_EDIT -->checked="checked"<!-- ENDIF --> />{L_YES}</label> <label for="can_edit_no"><input name="can_edit" id="can_edit_no" type="radio" value="0" <!-- IF not CAN_EDIT -->checked="checked"<!-- ENDIF --> />{L_NO}</label></dd>
	</dl>
	<dl>
		<dt><label for="can_delete">{L_TOPIC_MODERATOR_CAN_DELETE}:</label></dt>
		<dd><label for="can_delete_yes"><input name="can_delete" id="can_delete_yes" type="radio" value="1" <!-- IF CAN_DELETE -->checked="checked"<!-- ENDIF --> />{L_YES}</label> <label for="can_delete_no"><input name="can_delete" id="can_delete_no" type="radio" value="0" <!-- IF not CAN_DELETE -->checked="checked"<!-- ENDIF --> />{L_NO}</label></dd>
	</dl>
	<dl>
		<dt><label for="can_lock_post">{L_TOPIC_MODERATOR_CAN_LOCK_POST}:</label></dt>
		<dd><label for="can_lock_post_yes"><input name="can_lock_post" id="can_lock_post_yes" type="radio" value="1" <!-- IF CAN_LOCK_POST -->checked="checked"<!-- ENDIF --> />{L_YES}</label> <label for="can_lock_post_no"><input name="can_lock_post" id="can_lock_post_no" type="radio" value="0" <!-- IF not CAN_LOCK_POST -->checked="checked"<!-- ENDIF --> />{L_NO}</label></dd>
	</dl>
	<dl>
		<dt><label for="can_lock_topic">{L_TOPIC_MODERATOR_CAN_LOCK_TOPIC}:</label></dt>
		<dd><label for="can_lock_topic_yes"><input name="can_lock_topic" id="can_lock_topic_yes" type="radio" value="1" <!-- IF CAN_LOCK_TOPIC -->checked="checked"<!-- ENDIF --> />{L_YES}</label> <label for="can_lock_topic_no"><input name="can_lock_topic" id="can_lock_topic_no" type="radio" value="0" <!-- IF not CAN_LOCK_TOPIC -->checked="checked"<!-- ENDIF --> />{L_NO}</label></dd>
	</dl>
	</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>

<fieldset class="display-actions">
	<input class="button1" type="submit" name="mcp_tm_submit" value="{L_SUBMIT}" />
	{S_HIDDEN_FIELDS}
	{S_FORM_TOKEN}
</fieldset>

</form>

<!-- INCLUDE mcp_footer.html -->