<style type="text/css">
<!--
	.calendar, .monthyear, .dayheaders, .days {
		width: 99.5%;
		overflow: hidden;
		margin: 0px;
		padding: 0px;
		padding-left: 0.25em;
		text-align: center;
	}
	.calendar ul {
		list-style-type: none;
	}
	.calendar li.header {
		text-align: left; 
	}
	.monthyear li {
		display: block;
		height: 2em;
		width: 89%;
		font-weight: bold;
		padding-top: 2px;
	}
	.monthyear li.previous, .monthyear li.next {
		width: 5%;
	}
	ul.dayheaders {
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.dayheaders li, .days li {
		display: block;
		width: 13%;
	}
	.dayheaders li {
		height: 1.5em;
		border-left: 1px solid #FFFFFF;
		border-right: 1px solid #8F8F8F;
	}
	ul.days {
		margin: 0;
		width: 100%;
	}
	li.notaday, li.day {
		height: 2.2em;
	}
	li.notaday {
		padding-left: 1px;
		padding-right: 1px;
	}
	li.day {
		border-left: 1px solid #FFFFFF;
		border-right: 1px solid #8F8F8F;
	}
	.calendar li.event {
		font-style: italic;
		font-weight: bold;
	}
	.monthyear li, .dayheaders li, .days li {
		float: left;
	}
	.today {
		font-weight: bold;
		background: #C0C0FF;
	}

	#events ul {
		list-style-type: none;
		width: 100%;
	}
	#events .header dt {
		width: 100%;
	}
	.events li {
		display: block;
		clear: both;
		padding-left: 0.1em;
	}
	.events li.noview {
		font-style: italic;
	}
	.events table {
		width: 100%;
	}
	td.date {
		width: 6em;
		margin-right: 5px;
	}
	.events td {
		align: left;
	}
-->
</style>

<script type="text/javascript">
// <![CDATA[
	var save_background = '';

	function highlight_event(id, restore)
	{
		var element = document.getElementById(id);
		if (element)
		{
			if (restore)
			{
				element.style.background = save_background;
			} else
			{
				save_background = element.style.background;
				element.style.background = '#EBEBEB';
			}
		}
	}
// ]]>
</script>
	
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<div id="calendar">
			<div class="calendar">
				<ul class="topiclist">
					<li class="header"><dl><dt>
						<a href="{U_MINI_CAL_CALENDAR}" class="none">{L_MINI_CAL_CALENDAR}</a>
					</dt></dl></li>
				</ul>
				<div><form>
					<ul class="monthyear forums">
						<li class="previous"><a href="{U_PREV_MONTH}" title="{L_PREVIOUS_MONTH}"><img src="{T_THEME_PATH}/images/arrow_left.gif"></a></li>
						<li>{S_MONTH_YEAR}</li>
						<li class="next"><a href="{U_NEXT_MONTH}" title="{L_NEXT_MONTH}"><img src="{T_THEME_PATH}/images/arrow_right.gif"></a></li>
					</ul>
					<ul class="dayheaders">
						<!-- BEGIN day_headers -->
						<li class="bg1"><abbr title="{day_headers.DAY_LONG}">{day_headers.DAY_SHORT}</abbr></li>
						<!-- END day_headers -->
					</ul>
					<ul class="days">
						<!-- BEGIN before_first_day -->
						<li class="notaday" />
						<!-- END before_first_day -->
						<!-- IF START_DAY_LINK -->
						<li class="notaday"><a href="{U_PREV_MONTH}" title="{L_PREVIOUS_MONTH}"><img src="{T_THEME_PATH}/images/arrow_left.gif"></a></li>
						<!-- ENDIF -->
						<!-- BEGIN day_infos -->
						<li class="{day_infos.DAY_CLASS} row day" {day_infos.DAY_OMO}>{day_infos.DAY_INFO}</li>
						<!-- END day_infos -->
						<!-- IF END_DAY_LINK -->
						<li class="notaday"><a href="{U_NEXT_MONTH}" title="{L_NEXT_MONTH}"><img src="{T_THEME_PATH}/images/arrow_right.gif"></a></li>
						<!-- ENDIF -->
					</ul>
				</form></div>
			</div>
			<div id="events">
				<ul class="topiclist">
					<li class="header"><dl><dt>
						<!-- IF HAS_EVENTS -->
						{L_MINI_CAL_EVENTS}
						<!-- ELSE -->
						{L_MINI_CAL_NO_EVENTS}
						<!-- ENDIF -->
					</dt></dl></li>
				</ul>
				<!-- IF HAS_EVENTS -->
				<div>
					<ul class="events">
						<!-- BEGIN events -->
						<li class="{events.EVENT_CLASS} row navbar" id="{events.EVENT_ID}"><table><tr>
							<td class="date">{events.EVENT_DATE}</td>
							<td>{events.EVENT_URLTEXT}</td>
						</tr></table></li>
						<!-- END events -->
					</ul>
				</div>
				<!-- ENDIF -->
			</div>
		</div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
