<!-- INCLUDE overall_header.html -->
<style type="text/css">
<!--
	.calendar, .monthyear, .dayheaders, .days {
		width: 99.8%;
		overflow: hidden;
		margin: 0px;
		padding: 0px;
		padding-left: 0.26em;
		text-align: center;
	}
	.calendar ul {
		list-style-type: none;
	}
	.monthyear li {
		display: block;
		height: 4%;
		width: 79%;
		font-weight: bold;
		padding-top: 2px;
	}
	.monthyear li.previous, .monthyear li.next {
		width: 5%;
	}
	ul.dayheaders {
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.dayheaders li, .days li {
		width: 14%;
	}
	.dayheaders li {
		display: block;
		height: 2em;
		border-left: 1px solid #FFFFFF;
		border-right: 1px solid #8F8F8F;
	}
	li.notaday, li.day {
		display: block;
		height: 9em;
	}
	li.notaday {
		padding-left: 1px;
		padding-right: 1px;
	}
	.notaday {
		vertical-align: middle;
	}
	li.day {
		border-left: 1px solid #FFFFFF;
		border-right: 1px solid #8F8F8F;
	}
	.calendar li.event {
		font-style: italic;
	}
	.monthyear li, .dayheaders li, .days li {
		float: left;
	}
	.today {
		font-weight: bold;
		background: #ffe4e4;
	}
	ul.event {
		display: block;
		width: 100%;
		list-style-type: none;
		padding-left: 1em;
	}
	.event li {
		width: 90%;
		text-align: left;
	}
	div.domTT {
		background-color: #CFE1F6; 
		padding: 3px;
		border: 1px #FAFAFA solid;
	}
	div.domTTContent {
		font-size : 1.1em; 
	}
	div.bar {
		background: url({T_IMAGESET_PATH}/event_block_bar.gif) repeat-x center center;
		text-align: right;
	}
	.bar img {
		padding-top: 1px;
	}
-->
</style>
<br style="clear:both" />
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header"><dl class="icon"><dt>{L_CALENDAR}</dt></dl></li>
		</ul>
		<ul class="topiclist forums">

		<div class="calendar">
			<div><form>
				<ul class="monthyear forums">
					<li class="previous"><a href="{U_PREV_YEAR}" title="{L_PREVIOUS_YEAR}"><img src="{T_IMAGESET_PATH}/icon_double_left_arrow.gif"></a></li>
					<li class="previous"><a href="{U_PREV_MONTH}" title="{L_PREVIOUS_MONTH}"><img src="{T_IMAGESET_PATH}/icon_left_arrow.gif"></a></li>
					<li>{S_MONTH_YEAR}</li>
					<li class="next"><a href="{U_NEXT_MONTH}" title="{L_NEXT_MONTH}"><img src="{T_IMAGESET_PATH}/icon_right_arrow.gif"></a></li>
					<li class="next"><a href="{U_NEXT_YEAR}" title="{L_NEXT_YEAR}"><img src="{T_IMAGESET_PATH}/icon_double_right_arrow.gif"></a></li>
				</ul>
				<ul class="dayheaders">
					<!-- BEGIN weekdays -->
					<li class="bg1"><abbr title="{weekdays.WEEKDAY}">{weekdays.WEEKDAY}</abbr></li>
					<!-- END weekdays -->
				</ul>
				<ul class="days">
					<!-- BEGIN before_first_day -->
					<li class="notaday" />
					<!-- END before_first_day -->
					<!-- IF START_DAY_LINK -->
					<li class="notaday"><a href="{U_PREV_MONTH}" title="{L_PREVIOUS_MONTH}"><img src="{T_IMAGESET_PATH}/icon_left_arrow.gif"></a></li>
					<!-- ENDIF -->
					<!-- BEGIN day_infos -->
					<li class="{day_infos.DAY_CLASS} row day"><div class="bg3">{day_infos.DAY_INFO}</div>
						<ul class="event">
						
						<!-- BEGIN date_event -->
							<li><div class="event" onmouseover="domTT_activate(event, 'content', '{day_infos.date_event.POPUP}');">{day_infos.date_event.U_EVENT}
								<!-- IF day_infos.date_event.DAY_BLOCK_BEGIN -->
								<div class="bar"><img src="{T_IMAGESET_PATH}/event_block_arrow.gif" /></div>
								<!-- ELSEIF day_infos.date_event.DAY_BLOCK_END -->
								<div class="bar"><img src="{T_IMAGESET_PATH}/event_block_end.gif" /></div>
								<!-- ENDIF -->
								{day_infos.date_event.U_EVENT_END}</div>
							</li>
						<!-- END date_event -->
						<!-- BEGIN date_birthday -->
							<li>{day_infos.date_birthday.U_EVENT}</li>
						<!-- END date_birthday -->
							
						</ul>
					</li>
					<!-- END day_infos -->
					<!-- IF END_DAY_LINK -->
					<li class="notaday"><a href="{U_NEXT_MONTH}" title="{L_NEXT_MONTH}"><img src="{T_IMAGESET_PATH}/icon_right_arrow.gif"></a></li>
					<!-- ENDIF -->
				</ul>
			</form></div>
		</div>
</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<br style="clear:both" />
<!-- INCLUDE overall_footer.html --> 