﻿	</div>

<div id="page-footer">
	<div class="navbar">
		<div class="inner"><span class="corners-top"><span></span></span>

			<ul class="linklist">
				<li class="icon-home"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a></li>
					<!-- IF not S_IS_BOT -->
						<!-- IF S_WATCH_FORUM_LINK --><li <!-- IF S_WATCHING_FORUM -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}">{S_WATCH_FORUM_TITLE}</a></li><!-- ENDIF -->
						<!-- IF U_WATCH_TOPIC --><li <!-- IF S_WATCHING_TOPIC -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a></li><!-- ENDIF -->					<!-- IF U_WATCH_EVENT --><li <!-- IF S_WATCHING_EVENT -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_EVENT}" title="{L_WATCH_EVENT}">{L_WATCH_EVENT}</a></li><!-- ENDIF -->
					<!-- IF U_WATCH_CALENDAR --><li <!-- IF S_WATCHING_CALENDAR -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_CALENDAR}" title="{L_WATCH_CALENDAR}">{L_WATCH_CALENDAR}</a></li><!-- ENDIF -->

						<!-- IF U_BOOKMARK_TOPIC --><li class="icon-bookmark"><a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}">{L_BOOKMARK_TOPIC}</a></li><!-- ENDIF -->
						<!-- IF U_BUMP_TOPIC --><li class="icon-bump"><a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}">{L_BUMP_TOPIC}</a></li><!-- ENDIF -->
					<!-- ENDIF -->
				<li class="rightside"><!-- IF U_TEAM --><a href="{U_TEAM}">{L_THE_TEAM}</a> &bull; <!-- ENDIF --><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a> &bull; <!-- ENDIF -->{S_TIMEZONE}</li>
			</ul><hr>
				<div align="justify" class="rightside">Внедорожный портал любителей <a href="../forum/">off-road</a>-а (<a href="../forum/">клуб 4х4</a>) работает с 2003 и с каждым днем регистрируются новые члены. Ежедневно на форуме появляются новые темы и ответы на них. Темы форума размещены в соответствующих разделах, для удобства поиска, но если Вам не удалось найти ответ на возникший вопрос, то воспользуйтесь <a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}">поиском</a> форума, наверняка найдет, то что искали. При возникновении вопросов по навигации сайта или Вы нашли неточности или ошибки на форуме, то пишите администрации (info (a) 4x4.by или ICQ 344788296). Также обращайтесь если что-то не получается сделать на форуме, постараемся быстро решить проблему.</div>
		<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<div style="margin-top:5px">

		<div class="headerbar">
			<div class="inner"><span class="corners-top"><span></span></span>
	<!--# Footer -->
			<table width=100% border=0 cellpadding=0 cellspacing=0 align=right>
				<tr>
					<td width=50% height=4 bgcolor=#000000><img src="images/spacer.gif"></td>
					<td width=1 height=4 bgcolor=#FFFFFF><img src="images/spacer.gif"></td>
					<td width=740 height=4 bgcolor=#000000><img src="images/spacer.gif" width=740 height=4></td>
				</tr>
				<tr>
					<td width=50% height=45 bgcolor=#CCCCCC><img src="images/spacer.gif">© <a href="/" alt="Клуб 4х4">4x4</a>. При использовании материалов сайта<br> гиперссылка на www.4x4.by обязательна.<br>{SAPE_LINKS}</td>
					<td width=1 height=45 bgcolor=#000000><img src="images/spacer.gif"></td>
					<td width=740 height=45 bgcolor=#CCCCCC align=right>
						<table>
							<tr>
								<td align=center>
									{XAP_1}{XAP_2}{XAP_3}{XAP_4}  
								</td>
								<td align=right>Автор проекта Сергей Шкель<br>Все права защищены
								</td>
								<td align=center> 
								</td>
								<td width=81 height=31 align=center>
									<noindex>
									<!-- HotLog --><script language="javascript">hotlog_js="1.0";hotlog_r=""+Math.random()+"&s=89155&im=115&r="+escape(document.referrer)+"&pg="+escape(window.location.href);document.cookie="hotlog=1; path=/"; hotlog_r+="&c="+(document.cookie?"Y":"N");</script><script language="javascript1.1">hotlog_js="1.1";hotlog_r+="&j="+(navigator.javaEnabled()?"Y":"N")</script><script language="javascript1.2">hotlog_js="1.2";hotlog_r+="&wh="+screen.width+'x'+screen.height+"&px="+(((navigator.appName.substring(0,3)=="Mic"))?screen.colorDepth:screen.pixelDepth)</script><script language="javascript1.3">hotlog_js="1.3"</script><script language="javascript">hotlog_r+="&js="+hotlog_js;document.write("<a href='http://click.hotlog.ru/?89155' target='_top'><img "+" src='http://hit4.hotlog.ru/cgi-bin/hotlog/count?"+hotlog_r+"&' border=0 width=88 height=31 alt=HotLog></a>")</script><noscript><a href=http://click.hotlog.ru/?89155 target=_top><img src="http://hit4.hotlog.ru/cgi-bin/hotlog/count?s=89155&im=115" border=0 width="88" height="31" alt="HotLog"></a></noscript>
									<!-- /HotLog -->
									<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
									</script>
									<script type="text/javascript">
										_uacct = "UA-4290307-1";
										urchinTracker();
									</script>
									</noindex>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<span class="corners-bottom"><span></span></span>
		</div>	
	<!--# Footer -->
			<!--</td>
</tr>-->
	</div>
	</div>

	<!--<tr>
		<td colspan=3 width=100% align=right>-->
		
</div>

</div>

<div>
	<div align="center"><a id="bottom" name="bottom" accesskey="z"></a>
	  <!-- IF not S_IS_BOT -->
	  {RUN_CRON_TASK}
	  <!-- ENDIF -->
	  <!-- IF DEBUG_OUTPUT -->
	  {DEBUG_OUTPUT}
	  <!-- ENDIF -->
	  <!-- IF U_ACP -->
	  <a href="{U_ACP}">{L_ACP}</a>
	  <!-- ENDIF -->
    </div>
</div>
</body>
</html>