<!-- IF .latest_announcements or .latest_topics -->
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header"><dl><dt>{L_RECENT_NEWS}</dt></dl></li>
		</ul>
		<ul class="topiclist forums">
			<li><dl>
				<dd class="posts_portal" style="border-left:0px;width:100%;">
				<table width="100%" border="0" cellpadding="0" cellspacing="7">
			<tr>
				<td class="row1"><strong>{L_RECENT_ANNO_TEXT}</strong></td>
				<!-- IF .latest_announcements --><td class="row1"><strong>{L_RECENT_ANN}</strong></td><!-- ENDIF -->
				<!-- IF .latest_topics --><td class="row1"><strong>{L_RECENT_TOPICS}</strong></td><!-- ENDIF -->
			</tr>
			<tr>
				<td class="row1" style="width: 33%;" valign="top">
					<span class="gensmall">{ANNO_TEXT}</span>
				</td>
				<!-- IF .latest_announcements -->
				<td class="row1" style="width: 33%;" valign="top">
					<span class="gensmall">
					<!-- BEGIN latest_announcements -->
						<!-- IF latest_announcements.S_UNREAD_TOPIC -->
							<a href="{latest_announcements.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <a href="{latest_announcements.U_NEWEST_POST}" title="{latest_announcements.FULL_TITLE}" class="link-new">{latest_announcements.TITLE} ({latest_announcements.TOPIC_REPLIES})</a>
						<!-- ELSE -->
							<a href="{latest_announcements.U_LAST_POST}">{LAST_POST_IMG}</a> <a href="{latest_announcements.U_LAST_POST}" title="{latest_announcements.FULL_TITLE}">{latest_announcements.TITLE} ({latest_announcements.TOPIC_REPLIES})</a>
						<!-- ENDIF -->
						<br />
					<!-- END latest_announcements -->
					</span>
				</td>
				<!-- ENDIF -->
				<!-- IF .latest_topics -->
				<td class="row1" style="width: 33%;" valign="top">
					<span class="gensmall">
					<!-- BEGIN latest_topics -->
						<!-- IF latest_topics.S_UNREAD_TOPIC -->
							<a href="{latest_topics.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <a href="{latest_topics.U_NEWEST_POST}" title="{latest_topics.FULL_TITLE}" class="link-new">{latest_topics.TITLE} ({latest_topics.TOPIC_REPLIES})</a>
						<!-- ELSE -->
							<a href="{latest_topics.U_LAST_POST}">{LAST_POST_IMG}</a> <a href="{latest_topics.U_LAST_POST}" title="{latest_topics.FULL_TITLE}">{latest_topics.TITLE} ({latest_topics.TOPIC_REPLIES})</a>
						<!-- ENDIF -->
						<br />
					<!-- END latest_topics -->
					</span>
				</td>
				<!-- ENDIF -->
			</tr>
			</table>
				</dd>
			</dl></li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />
<!-- ENDIF -->