/*  phpBB 3.0 Style Sheet
    --------------------------------------------------------------
	Style name:		2Unilever
	Based on style:	subSilver (the default phpBB 2 style)
	Original author:	subBlue ( http://www.subBlue.com/ )
	Modified by:	gokin  [ gok4in@gmail.com ] (  http://www.gokin.pl/ )
	
	This is an alternative style for phpBB3 for those wishing to stay with
	the familiar subSilver style of phpBB version 2.x
	
	Copyright 2006 phpBB Group ( http://www.phpbb.com/ )
    --------------------------------------------------------------
*/

/* Layout
 ------------ */
* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	background: #FFF;
	color: #666666;
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
	font-size: 10px;
	line-height: 135%;
	margin: 0px;
	padding: 0px; /* required for Opera to have 0 margin */

}



#wrapheader {
	min-height: 120px;
	height: auto !important;
	height: 120px;
/*	background-image: url('./images/background.gif');
	background-repeat: repeat-x;*/
/*	padding: 0 25px 15px 25px;*/
	padding: 0;
}

#wrapcentre {
	margin: 15px 25px 0 25px;
}

#wrapfooter {
	text-align: center;
	clear: both;
}

#wrapnav {
	width: 100%;
	margin: 0;
	background-color: #ECECEC;
	border-width: 1px;
	border-style: solid;
	border-color: #A9B8C2;
}

#logodesc {
	margin-bottom: 5px;
	padding: 5px 25px;
	background: #D9DFE4;
	border-bottom: 1px solid #4787A7;
}

#menubar {
	margin: 0 25px;
}

#datebar {
	margin: 10px 25px 0 25px;
}

#findbar {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.forumrules {
	background-color: #F9CC79;
	border-width: 1px;
	border-style: solid;
	border-color: #BB9860;
	padding: 4px;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.forumrules h3 {
	color: red;
}

#pageheader { }
#pagecontent { }
#pagefooter { }

#poll { }
#postrow { }
#postdata { }


/*  Text
 --------------------- */
h1 {
	color: black;
	font-family: "Trebuchet MS", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	text-decoration: none;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 120%;
	text-decoration: none;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 120%;
}

h4 {
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
}

p {
	font-size: 1.1em;
}

p.moderators {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
}

.rtl p.moderators {
	float: right;
}

p.linkmcp {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.linkmcp {
	float: left;
}

p.breadcrumbs {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
	white-space: normal;
	font-size: 1em;
}

.rtl p.breadcrumbs {
	float: right;
}

p.datetime {
	margin: 0;
	float: right;
	white-space: nowrap;
	font-size: 1em;
}

.rtl p.datetime {
	float: left;
}

p.searchbar {
	padding: 2px 0;
	white-space: nowrap;
} 

p.searchbarreg {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.searchbarreg {
	float: left;
}

p.forumdesc {
	padding-bottom: 4px;
}

p.topicauthor {
	margin: 1px 0;
}

p.topicdetails {
	margin: 1px 0;
}

.postreported, .postreported a:visited, .postreported a:hover, .postreported a:link, .postreported a:active {
	margin: 1px 0;
	color: red;
	font-weight:bold;
}

.postapprove, .postapprove a:visited, .postapprove a:hover, .postapprove a:link, .postapprove a:active {
	color: green;
	font-weight:bold;
}

.postapprove img, .postreported img {
	vertical-align: bottom;
}

.postauthor {
	color: #000000;
}

.postdetails {
	color: #000000;
}

.postbody {
	font-size: 1.3em;
	line-height: 1.4em;
	font-family: "Trebuchet MS", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

.postbody li, ol, ul {
	margin: 0 0 0 1.5em;
}

.rtl .postbody li, .rtl ol, .rtl ul {
	margin: 0 1.5em 0 0;
}

.posthilit {
	background-color: yellow;
}

.nav {
	margin: 0;
	color: black;
	font-weight: bold;
}

.pagination {
	padding: 4px;
	color: black;
	font-size: 1em;
	font-weight: bold;
}

.cattitle {

}

.gen {
	margin: 1px 1px;
	font-size: 1.2em;
}

.genmed {
	margin: 1px 1px;
	font-size: 1.1em;
}

.gensmall {
	margin: 1px 1px;
	font-size: 1em;
}

.copyright{ 
	background: #FFF;
	font-size: 10px; 
	margin: 0 0 5px 0;
	padding: 10px;
	padding-bottom: 0px;
	text-align: right;
}

.titles {
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.1em;
	text-decoration: none;
}

.error {
	color: red;
}


/* Tables
 ------------ */

th {
	height: 23px; 
	color: #363433;
	font-size: 10px;
	font-weight : bold; 
	background-color: #FFFFFF;
	background-image: url('./images/subtitle.gif');
	white-space: nowrap;
	padding: 0px 10px 0px 10px;

}

td {
	padding: 2px;
}
td.profile {
	padding: 4px;
}

.tablebg {
	background-color: #E3E3E3;
}

.catdiv {
	height: 26px;
	margin: 0;
	padding: 0;
	border: 0;
	background: white url('./images/cellpic2.jpg') repeat-y scroll top left;
}
.rtl .catdiv {
	background: white url('./images/cellpic2_rtl.jpg') repeat-y scroll top right;
}

.cat {
	height: 26px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #FFF;
	text-indent: 4px;
}

.cattext {
	text-align:left;
	font-size:13px;
	font-weight:bold;
	text-decoration: none;
	padding:7px 0px 6px 0px;
	color: #434343;
}

.cattext a:link { color: #434343; text-decoration:none }
.cattext a:visited { color: #434343; text-decoration:none }
.cattext a:hover { color: #EF463C; text-decoration:none }
.cattext a:active { color: #434343; text-decoration:none }

.row1 {
	background-color: #FFFFFF;
	padding: 4px;
}

.row2 {
	background-color: #F6F6F6;
	padding: 4px;
}

.row3 {
	background-color: #fff;
	padding: 4px;
}

.spacer {
	background-color: #FFFFFF;
}

hr {
	height: 1px;
	border-width: 0;
	background-color: #D1D7DC;
	color: #D1D7DC;
}

.legend {
	text-align:center;
	margin: 0 auto;
}

/* Links
 ------------ */
a:link,
a:visited,
a:active{
	background: transparent;
	color: #555555;
	text-decoration: underline;
}

a:hover{
	background: transparent;
	color: #EF463C;
}

a.forumlink {
	color: #555555;
	font-weight: bold;
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
	font-size: 1.2em;
}

a.topictitle {
	margin: 1px 0;
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
	font-weight: bold;
	font-size: 1.2em;
}

a.topictitle:visited {
	color: #555555;
	text-decoration: none;
}

th a,
th a:visited {
	color: #555555 !important;
	text-decoration: none;
}

th a:hover {
	color: #EF463C;
	text-decoration: underline;
}


/* Form Elements
 ------------ */
form {
	margin: 0;
	padding: 0;
	border: 0;
}

input {
	color: #333333;
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
	font-size: 1.1em;
	font-weight: normal;
	padding: 1px;
	border: 1px solid #A9B8C2;
	background-color: #FAFAFA;
}

textarea {
	background-color: #FAFAFA;
	color: #333333;
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
	font-size: 1.3em; 
	line-height: 1.4em;
	font-weight: normal;
	border: 1px solid #A9B8C2;
	padding: 2px;
}

select {
	color: #333333;
	background-color: #FAFAFA;
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
	font-size: 1.1em;
	font-weight: normal;
	border: 1px solid #A9B8C2;
	padding: 1px;
}

option {
	padding: 0 1em 0 0;
}

option.disabled-option {
	color: graytext;
}

.rtl option {
	padding: 0 0 0 1em;
}

input.radio {
	border: none;
	background-color: transparent;
}

.post {
	background-color: white;
	border-style: solid;
	border-width: 1px;
}

.btnbbcode {
	color: #000000;
	font-weight: normal;
	font-size: 1.1em;
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
	background-color: #EFEFEF;
	border: 1px solid #666666;
}

.btnmain {
	font-weight: bold;
	background-color: #ECECEC;
	border: 1px solid #A9B8C2;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnlite {
	font-weight: normal;
	background-color: #ECECEC;
	border: 1px solid #A9B8C2;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnfile {
	font-weight: normal;
	background-color: #ECECEC;
	border: 1px solid #A9B8C2;
	padding: 1px 5px;
	font-size: 1.1em;
}

.helpline {
	background-color: #DEE3E7;
	border-style: none;
}


/* BBCode
 ------------ */
.quotetitle, .attachtitle {
	background: #E6E6E6 url('./images/css_img_quote.gif') no-repeat right;
	border: 1px dotted #636363;
	border-bottom: 0;
	color: #555555;
	font-weight: bold;
	font-size: 10px;
	margin: 2px auto 0 auto;
	padding: 3px;
}

.quotetitle .quotetitle {
	font-size: 10px;
}

.quotecontent, .attachcontent {
	background: #f9f9f9;
	border: 1px dotted #636363;
	border-top: 0;
	color: #434343;
	padding: 4px;
	margin: 0 auto 0 auto;
}

.attachcontent {
	font-size: 10px;
}

.codetitle {
	background: #d50909 url('./images/css_img_code.gif') no-repeat right;
	color: #FFF;
	font-weight: bold;
	margin: 0 auto 0 auto;
	padding: 3px;
}

.codecontent {
	background: #F9F9F9;
	border: 1px dotted #636363;
	color: #434343;
	margin: 0 auto 0 auto;
	padding: 2px;
}

.syntaxbg {
	color: #FFFFFF;
}

.syntaxcomment {
	color: #FF8000;
}

.syntaxdefault {
	color: #0000BB;
}

.syntaxhtml {
	color: #000000;
}

.syntaxkeyword {
	color: #007700;
}

.syntaxstring {
	color: #DD0000;
}


/* Private messages
 ------------------ */
.pm_marked_colour {
	background-color: #000000;
}

.pm_replied_colour {
	background-color: #A9B8C2;
}

.pm_friend_colour {
	background-color: #007700;
}

.pm_foe_colour {
	background-color: #DD0000;
}


/* Misc
 ------------ */
img {
	border: none;
}

.sep {
	color: black;
	background-color: #FFA34F;
}

table.colortable td {
	padding: 0;
}

pre {
	font-size: 1.1em;
	font-family: Monaco, 'Courier New', monospace;
}

.nowrap {
	white-space: nowrap;
}

.username-coloured {
	font-weight: bold;
}

/*Custom */

#header {
	position: relative;
	left: 0;
	top: 0;
	height: 160px;
}

#logo {	
	position: absolute;
	left: 0;
	top: 70px;
	width: 827px;
	height: 52px;
}

#top_menu {
	position: absolute;
	right: 0;
	top: 130px;
	text-align: right;
	width:100%;
}


#menu {
	position: absolute;
	top: 130px;	
	background: #D50909;
	width: 100%;
	height: 23px;
	color: #fff;
	border-top: 4px solid #E3E3E3;
	border-bottom: 6px solid #E3E3E3;
}

div.item {padding-top:0.6em;}

#top_menu a, 
#top_menu a:link, 
#top_menu a:visited {
	color:#666;
	padding-left: 5px;
	padding-right:5px;
	text-decoration: none;
	font-weight: normal;
	text-transform: lowercase;
}

#top_menu a:hover, 
#top_menu a.active {
	text-decoration: underline;
}

#top_menu ul, 
#top_menu li, 
#menu ul, 
#menu li {
	list-style-type:none;
	list-style-image:none;
	padding: 0;
	margin: 0;
}



#top_menu li {
	float:right;
}



#menu ul {
	height: 23px;
} 



#menu ul li {
	float:left;
	height: 23px;
	line-height:23px;
	background: url('./images/menu_bg.gif') right top no-repeat;
}

#menu ul li a, 
#menu ul li a:link, 
#menu ul li a:visited {
	color: #fff;
	font-size: 10px;
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
	text-transform: uppercase;
}

#menu ul li:hover, 
#menu ul li.over, 
#menu ul li#current {
	background:black url('./images/menu_bg.gif') right top no-repeat;
}

.borderwrap,
.borderwrapm{ /* this will affect the outlining border of all the tables and boxes through-out the skin. */
	background: #e3e3e3;
	border: 0px solid #072A66;
	padding: 0px; 
	margin: 0px; 
}

.borderwrapm{
	margin: 5px;
}

.borderwrap h3,

.maintitle,
.maintitlecollapse{
	background: #FFF;
	border: 0px solid #FFF;
	border-bottom: 0px solid #5176B5;
	color: #434343; 
	font-size: 12px;
	font-weight: bold; 
	margin: 0px;
	padding: 8px;
	padding-left: 0px;
}

.maintitle td {
	color: #000; 
	font-size: 12px;
	font-weight: bold;
}


.maintitlecollapse{
	border: 0px solid #FFF;
}

.maintitle p,
.maintitlecollapse p,
.formsubtitle p{
	background: transparent !important;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}

.maintitle p.expand,
.maintitle p.goto,
.maintitlecollapse p.expand,
.formsubtitle p.members{
	float: right;
	width: auto !important;
}

.maintitle a:link, 
.maintitle a:visited,
.maintitlecollapse a:link, 
.maintitlecollapse a:visited{ 
	background: transparent;
	color: #434343;
	text-decoration: none; 
}

.maintitle a:hover, 
.maintitle a:active,
.maintitlecollapse a:hover, 
.maintitlecollapse a:active{ 
	background: transparent;
	color: #434343;
}

#ipbwrapper{ 
	margin: 0px auto 0px auto; /* centers the box, no matter the overall width, also applies a 20px gap at the top and bottom of the board */
	text-align: left; /* re_aligns text to left second part of two part MSIE centering workaround */
	/* EDIT THIS TO CHANGE THE WIDTH OF THE BOARD -> 960px is a common fixed resolution size */
	width: 100%;
}

#userlinks,
#userlinksguest{ 
	background: #FFF;
	border: 0px solid #C2CFDF;
	margin: 5px 0 5px 0;
	padding: 0 5px 0 5px;
}

#userlinksguest{ 
	background: #FFF;
	border: 0px solid #986265;
}

#userlinks p,
#userlinksguest p{
	background: transparent !important;
	border: 0 !important;
	font-size: 10px;
	font-weight: bold; 
	letter-spacing: 1px;
	margin: 0 !important;
	padding: 7px 0 7px 0; 
	text-align: right;
}

#userlinks p,
#userlinksguest p{
	font-weight: normal;
	letter-spacing: 0;
}

#userlinksguest p.pcen{
	text-align: center;
}

#userlinks p.home,
#userlinksguest p.home{
	float: left;
}

#navstrip{ 
	background: transparent;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 14px 0px 8px 0px; 
}

.newslink{
	background: #FFF;
	border-bottom: 1px solid #e3e3e3;
	margin: 0;
	width: 100%;
}

.newslink td{
	color: #363433;
	font-size: 10px;
	padding: 5px 5px 5px 10px;
}

.newslink span{
	background: transparent;
	color: #595858;
	font-style: italic;
	font-weight: normal;
}

.newslink input{
	background: #FFF;
	border: 1px solid #e3e3e3;
	color: #363433;
	font-size: 10px;
	padding: 3px;
	vertical-align: middle;
	width: auto;
}

.newslink input.button{
	background: transparent;
	border: 0;
	color: #072A66;
	vertical-align: middle;
}

.fieldwrap{
	background: #F9F9F9;
	border: 1px solid #CCC;
	border-top: 0;
	margin: 5px;
	padding: 0;
	text-align: left;
}

.fieldwrap h4{
	background: #EEE;
	border: 1px solid #CCC;
	border-left: 0;
	border-right: 0;
	color: #444; 
	font-size: 12px;
	font-weight: bold; 
	margin: 0;
	padding: 5px;
}

.activeusers{
	background: #FFF;
	border: 1px solid #e3e3e3;
	color: #000;
	margin: 0px;
	padding: 1px;
}

.activeuserposting a:link,
.activeuserposting a:visited,
.activeuserposting a:active,
.activeuserposting
{

.icons { width:100% }

table.icons,
tr.icons,
td.icons
{ /* required for text in tables, because tables do not inherit from body */
	background: transparent;
	color: #222;
	font-size: 11px;
	line-height: 135%;
}

.icons td,
.divpad{ /* gives all tables faux cellpadding of 5px */
	padding: 5px;
}

td.nopad{ /* allows some tables to have no padding on the td */
	padding: 0;
}

/* Safari... */
th
{
	text-align: left;
}