<!-- IF $MG_CONFIG_SWITCH -->
To use these vars you need to include this file in overall header using the
INCLUDE function and then you are able to recall the vars using this syntax:
{$MG_TBL_H_L}
<!-- ENDIF -->

<!-- DEFINE $MG_GLOBAL_WIDTH = '100%' -->
<!-- DEFINE $MG_BUTTONS_EXTENSION = 'gif' -->
<!-- DEFINE $MG_TBL_H_L = '<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title">' -->
<!-- DEFINE $MG_TBL_H_R = '</div></div></div></div>' -->
<!-- DEFINE $MG_TBL_F_L = '<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;' -->
<!-- DEFINE $MG_TBL_F_R = '</div></div></div></div>' -->
<!-- DEFINE $MG_SPACER = '<img src="{T_THEME_PATH}/images/spacer.gif" width="1" height="4" alt="" />' -->
<!-- DEFINE $MG_MAX = '/images/icon_maximize.gif' -->
<!-- DEFINE $MG_MIN = '/images/icon_minimize.gif' -->
