<!-- IF S_RECAPTCHA_AVAILABLE -->
<tr><th colspan="2" valign="middle">{L_CONFIRM_CODE}</th></tr>
<tr>
	<td class="row1"><b class="genmed">{L_CONFIRM_CODE}:</b><br /><span class="gensmall">{L_RECAPTCHA_EXPLAIN}</span></td>
	<td class="row2">
	<script type="text/javascript">
	// <![CDATA[
	var RecaptchaOptions = {
		lang : '{LA_RECAPTCHA_LANG}',
		tabindex : <!-- IF $CAPTCHA_TAB_INDEX -->{$CAPTCHA_TAB_INDEX}<!-- ELSE -->10<!-- ENDIF -->
	};
	// ]]>
	</script>
	<script type="text/javascript" src="{RECAPTCHA_SERVER}/challenge?k={RECAPTCHA_PUBKEY}{RECAPTCHA_ERRORGET}" ></script>
	<script type="text/javascript">
	// <![CDATA[
	<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
		document.getElementById('recaptcha_table').style.direction = 'ltr';
	<!-- ENDIF -->
	// ]]>
	</script>

		<noscript>
			<iframe src="{RECAPTCHA_SERVER}/noscript?k={RECAPTCHA_PUBKEY}{RECAPTCHA_ERRORGET}" height="300" width="500" frameborder="0"></iframe><br />
			<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
			<input type="hidden" name="recaptcha_response_field" value="manual_challenge" />
		</noscript>
	</td>
</tr>

<!-- ELSE -->
{L_RECAPTCHA_NOT_AVAILABLE}
<!-- ENDIF -->
