<!-- INCLUDE overall_header.html -->

<!-- INCLUDE breadcrumbs_pages.html -->
<br />

<form action="{S_LOGIN_ACTION}" method="post">

<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title"><!-- IF not S_ADMIN_AUTH -->{L_LOGIN}<!-- ELSE -->{LOGIN_EXPLAIN}<!-- ENDIF --></div></div></div></div>
<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
<tr>
	<!-- IF not S_ADMIN_AUTH -->
		<th colspan="2">{L_LOGIN}</th>
	<!-- ELSE -->
		<th>{LOGIN_EXPLAIN}</th>
	<!-- ENDIF -->
</tr>
<!-- IF LOGIN_EXPLAIN && not S_ADMIN_AUTH -->
	<tr><td class="row3" colspan="2" align="center"><span class="gensmall">{LOGIN_EXPLAIN}</span></td></tr>
<!-- ENDIF -->
<tr><!-- IF not S_ADMIN_AUTH and S_REGISTER_ENABLED -->
	<td class="row1" width="50%">
		<p class="genmed">{L_LOGIN_INFO}</p>
		<p class="genmed" align="center">
			<a href="{U_TERMS_USE}">{L_TERMS_USE}</a> | <a href="{U_PRIVACY}">{L_PRIVACY}</a>
		</p>
	</td>
	<!-- ENDIF -->
	<td <!-- IF not S_ADMIN_AUTH -->class="row2"<!-- ELSE -->class="row1"<!-- ENDIF -->>

		<table align="center" cellspacing="1" cellpadding="4" style="width: 100%;">
		<!-- IF LOGIN_ERROR -->
			<tr><td class="gensmall" colspan="2" align="center"><span class="error">{LOGIN_ERROR}</span></td></tr>
		<!-- ENDIF -->

		<tr>
			<td valign="top" <!-- IF S_ADMIN_AUTH -->style="width: 50%; text-align: {S_CONTENT_FLOW_END};"<!-- ENDIF -->><b class="gensmall">{L_USERNAME}:</b></td>
			<td><input class="post" type="text" name="{USERNAME_CREDENTIAL}" size="25" value="{USERNAME}" tabindex="1" />
				<!-- IF not S_ADMIN_AUTH and S_REGISTER_ENABLED -->
					<br /><a class="gensmall" href="{U_REGISTER}">{L_REGISTER}</a>
				<!-- ENDIF -->
			</td>
		</tr>
		<tr>
			<td valign="top" <!-- IF S_ADMIN_AUTH -->style="width: 50%; text-align: {S_CONTENT_FLOW_END};"<!-- ENDIF -->><b class="gensmall">{L_PASSWORD}:</b></td>
			<td>
				<input class="post" type="password" name="{PASSWORD_CREDENTIAL}" size="25" tabindex="2" />
				<!-- IF U_SEND_PASSWORD --><br /><a class="gensmall" href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a><!-- ENDIF -->
				<!-- IF U_RESEND_ACTIVATION and not S_ADMIN_AUTH --><br /><a class="gensmall" href="{U_RESEND_ACTIVATION}">{L_RESEND_ACTIVATION}</a><!-- ENDIF -->
			</td>
		</tr>
		<!-- IF S_DISPLAY_FULL_LOGIN -->
			<!-- IF S_AUTOLOGIN_ENABLED -->
			<tr>
				<td>&nbsp;</td>
				<td><input type="checkbox" class="radio" name="autologin" tabindex="3" /> <span class="gensmall">{L_LOG_ME_IN}</span></td>
			</tr>
			<!-- ENDIF -->
			<tr>
				<td>&nbsp;</td>
				<td><input type="checkbox" class="radio" name="viewonline" tabindex="4" /> <span class="gensmall">{L_HIDE_ME}</span></td>
			</tr>
		<!-- ENDIF -->
		</table>
	</td>
</tr>

<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
</table>
<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>

<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title"><!-- IF L_LOGIN_CONFIRMATION -->{L_LOGIN_CONFIRMATION}<!-- ELSE -->&nbsp;<!-- ENDIF --></div></div></div></div>
<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
<!-- ENDIF -->

<tr><td class="cat-bottom" <!-- IF not S_ADMIN_AUTH or S_CONFIRM_CODE -->colspan="2"<!-- ENDIF --> align="center">{S_HIDDEN_FIELDS}<input type="submit" name="login" class="btnmain" value="{L_LOGIN}" tabindex="5" /></td></tr>
</table>
<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>

{S_LOGIN_REDIRECT}
{S_FORM_TOKEN}
</form>

<br clear="all" />

<!-- INCLUDE breadcrumbs_footer.html -->

<br clear="all" />

<div align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->