<!-- INCLUDE overall_header.html -->

<!-- INCLUDE breadcrumbs_pages.html -->
<br />

<div id="pagecontent">

	<form method="post" action="{S_PROFILE_ACTION}">

	<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title">{L_VIEWING_PROFILE}</div></div></div></div>
	<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
	<tr><th colspan="2" nowrap="nowrap">{L_VIEWING_PROFILE}</th></tr>
	<tr>
		<td class="cat" width="40%" align="center"><h4 class="dark">{L_USER_PRESENCE}</h4></td>
		<td class="cat" width="60%" align="center"><h4 class="dark">{L_USER_FORUM}</h4></td>
	</tr>
	<tr>
		<td class="row1" align="center">

			<table cellspacing="1" cellpadding="2" border="0">
			<!-- IF S_USER_INACTIVE -->
			<tr><td align="center" style="color: red;"><b class="gen">{L_USER_IS_INACTIVE}</b><br />{L_INACTIVE_REASON}: {USER_INACTIVE_REASON}<br /><br /></td></tr>
			<!-- ENDIF -->
			<tr><td align="center"><!-- IF USER_COLOR --><b class="gen" style="color: {USER_COLOR};"><!-- ELSE --><b class="gen"><!-- ENDIF -->{USERNAME}</b><!-- IF U_USER_BAN --><span class="genmed"> [ <a href="{U_USER_BAN}">{L_USER_BAN}</a> ]</span><!-- ENDIF --><!-- IF U_USER_ADMIN --><span class="genmed"> [ <a href="{U_USER_ADMIN}">{L_USER_ADMIN}</a> ]</span><!-- ENDIF --></td></tr>
			<!-- IF RANK_TITLE -->
			<tr><td class="postdetails" align="center">{RANK_TITLE}</td></tr>
			<!-- ENDIF -->
			<!-- IF RANK_IMG -->
			<tr><td align="center">{RANK_IMG}</td></tr>
			<!-- ENDIF -->
			<!-- IF AVATAR_IMG -->
			<tr><td align="center">{AVATAR_IMG}</td></tr>
			<!-- ENDIF -->
			<!-- IF ONLINE_IMG -->
			<tr><td align="center">{ONLINE_IMG}</td></tr>
			<!-- ENDIF -->
			<!-- IF U_SWITCH_PERMISSIONS -->
			<tr><td class="genmed" align="center">[ <a href="{U_SWITCH_PERMISSIONS}">{L_USE_PERMISSIONS}</a> ]</td></tr>
			<!-- ENDIF -->
			<!-- IF S_USER_LOGGED_IN and S_ZEBRA -->
			<tr><td class="genmed" align="center">[ <!-- IF U_REMOVE_FRIEND --><a href="{U_REMOVE_FRIEND}">{L_REMOVE_FRIEND}</a><!-- ELSEIF U_REMOVE_FOE --><a href="{U_REMOVE_FOE}">{L_REMOVE_FOE}</a><!-- ELSE --><!-- IF U_ADD_FRIEND --><a href="{U_ADD_FRIEND}">{L_ADD_FRIEND}</a><!-- ENDIF --><!-- IF U_ADD_FOE --><!-- IF U_ADD_FRIEND --> | <!-- ENDIF --><a href="{U_ADD_FOE}">{L_ADD_FOE}</a><!-- ENDIF --><!-- ENDIF --> ]</td></tr>
			<!-- ENDIF -->
			</table>
		</td>
		<td class="row1">
			<table width="100%" cellspacing="1" cellpadding="2" border="0">
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_JOINED}: </td>
				<td width="100%"><b class="gen">{JOINED}</b></td>
			</tr>
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_VISITED}: </td>
				<td width="100%"><b class="gen">{VISITED}</b></td>
			</tr>
			<!-- IF S_WARNINGS -->
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_WARNINGS}: </td>
				<td width="100%"><b class="gen">{WARNINGS}</b><!-- IF U_NOTES or U_WARN --><br /><span class="genmed"> [ <!-- IF U_NOTES --><a href="{U_NOTES}">{L_VIEW_NOTES}</a><!-- ENDIF --> <!-- IF U_WARN --><!-- IF U_NOTES --> | <!-- ENDIF --><a href="{U_WARN}">{L_WARN_USER}</a><!-- ENDIF --> ]</span><!-- ENDIF --></td>
			</tr>
			<!-- ENDIF -->
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_TOTAL_POSTS}: </td>
				<td><b class="gen">{POSTS}</b><span class="genmed"><!-- IF POSTS_PCT --><br />[{POSTS_PCT} / {POSTS_DAY}]<!-- ENDIF -->
				<!-- IF POSTS_IN_QUEUE and U_MCP_QUEUE --><br />[<a href="{U_MCP_QUEUE}">{L_POSTS_IN_QUEUE}</a>]<!-- ELSEIF POSTS_IN_QUEUE --><br />[{L_POSTS_IN_QUEUE}]<!-- ENDIF -->
				<!-- IF S_DISPLAY_SEARCH --><br /><a href="{U_SEARCH_USER}">{L_SEARCH_USER_POSTS}</a><!-- ENDIF --></span></td>
			</tr>
			<!-- IF S_SHOW_ACTIVITY -->
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_ACTIVE_IN_FORUM}: </td>
				<td><!-- IF ACTIVE_FORUM --><b><a class="gen" href="{U_ACTIVE_FORUM}">{ACTIVE_FORUM}</a></b><br /><span class="genmed">[ {ACTIVE_FORUM_POSTS} / {ACTIVE_FORUM_PCT} ]</span><!-- ELSE --><span class="gen">-</span><!-- ENDIF --></td>
			</tr>
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_ACTIVE_IN_TOPIC}: </td>
				<td><!-- IF ACTIVE_TOPIC --><b><a class="gen" href="{U_ACTIVE_TOPIC}">{ACTIVE_TOPIC}</a></b><br /><span class="genmed">[ {ACTIVE_TOPIC_POSTS} / {ACTIVE_TOPIC_PCT} ]</span><!-- ELSE --><span class="gen">-</span><!-- ENDIF --></td>
			</tr>
			<!-- ENDIF -->
			</table>
		</td>
	</tr>
	<tr>
		<td class="cat" align="center"><h4 class="dark">{L_CONTACT_USER}</h4></td>
		<td class="cat" align="center"><h4 class="dark">{L_ABOUT_USER}</h4></td>
	</tr>
	<tr>
		<td class="row1">
			<table width="100%" cellspacing="1" cellpadding="2" border="0">
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_EMAIL_ADDRESS}: </td>
				<td width="100%"><!-- IF U_EMAIL --><ul class="profile-icons"><li class="email-icon"><a href="{U_EMAIL}" title="{L_SEND_EMAIL_USER} {USERNAME}"><span>{L_SEND_EMAIL_USER} {USERNAME}</span></a></li></ul><!-- ENDIF --></td>
			</tr>
			<!-- IF U_PM -->
			<tr>
				<td class="gen" nowrap="nowrap" align="{S_CONTENT_FLOW_END}">{L_PM}: </td>
				<td><ul class="profile-icons"><li class="pm-icon"><a href="{U_PM}" title="{L_PM} {USERNAME}"><span>{L_PM} {USERNAME}</span></a></li></ul></td>
			</tr>
			<!-- ENDIF -->
			<tr>
				<td class="gen" nowrap="nowrap" align="{S_CONTENT_FLOW_END}">{L_MSNM}: </td>
				<td><!-- IF U_MSN --><ul class="profile-icons"><li class="msnm-icon"><a href="{U_MSN}" onclick="popup(this.href, 550, 320); return false" title="{L_MSNM}"><span>{L_MSNM}</span></a></li></ul><!-- ELSEIF USER_MSN -->{USER_MSN}<!-- ENDIF --></td>
			</tr>
			<tr>
				<td class="gen" nowrap="nowrap" align="{S_CONTENT_FLOW_END}">{L_YIM}: </td>
				<td><!-- IF U_YIM --><ul class="profile-icons"><li class="yahoo-icon"><a href="{U_YIM}" onclick="popup(this.href, 780, 550); return false" title="{L_YIM}"><span>{L_YIM}</span></a></li></ul><!-- ELSEIF USER_YIM -->{USER_YIM}<!-- ENDIF --></td>
			</tr>
			<tr>
				<td class="gen" nowrap="nowrap" align="{S_CONTENT_FLOW_END}">{L_AIM}: </td>
				<td><!-- IF U_AIM --><ul class="profile-icons"><li class="aim-icon"><a href="{U_AIM}" onclick="popup(this.href, 550, 320); return false" title="{L_AIM}"><span>{L_AIM}</span></a></li></ul><!-- ELSEIF USER_AIM -->{USER_AIM}<!-- ENDIF --></td>
			</tr>
			<tr>
				<td class="gen" nowrap="nowrap" align="{S_CONTENT_FLOW_END}">{L_ICQ}: </td>
				<td><!-- IF U_ICQ --><ul class="profile-icons"><li class="icq-icon"><a href="{U_ICQ}" onclick="popup(this.href, 550, 320); return false" title="{L_ICQ}"><span>{L_ICQ}</span></a></li></ul><!-- ELSEIF USER_ICQ -->{USER_ICQ}<!-- ENDIF --></td>
			</tr>
			<tr>
				<td class="gen" nowrap="nowrap" align="{S_CONTENT_FLOW_END}">{L_JABBER}: </td>
				<td><!-- IF U_JABBER --><ul class="profile-icons"><li class="jabber-icon"><a href="{U_JABBER}" onclick="popup(this.href, 550, 320); return false" title="{L_JABBER}"><span>{L_JABBER}</span></a></li></ul><!-- ELSEIF USER_JABBER -->{USER_JABBER}<!-- ENDIF --></td>
			</tr>
			</table>
		</td>
		<td class="row1">
			<table cellspacing="1" cellpadding="2" border="0">
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_USERGROUPS}: </td>
				<td><select name="g">{S_GROUP_OPTIONS}</select> <input class="btnlite" type="submit" name="submit" value="{L_GO}" /></td>
			</tr>
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_LOCATION}: </td>
				<td><!-- IF LOCATION --><b class="genmed">{LOCATION}</b><!-- ENDIF --></td>
			</tr>
			<!-- IF AGE -->
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_AGE}: </td>
				<td><b class="genmed"><!-- IF AGE -->{AGE}<!-- ELSE --> - <!-- ENDIF --></b></td>
			</tr>
			<!-- ENDIF -->
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_OCCUPATION}: </td>
				<td><!-- IF OCCUPATION --><b class="genmed">{OCCUPATION}</b><!-- ENDIF --></td>
			</tr>
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_INTERESTS}: </td>
				<td><!-- IF INTERESTS --><b class="genmed">{INTERESTS}</b><!-- ENDIF --></td>
			</tr>
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_WEBSITE}: </td>
				<td><!-- IF U_WWW --><b><a class="genmed" href="{U_WWW}">{U_WWW}</a></b><!-- ENDIF --></td>
			</tr>
			<!-- IF S_PROFILE_FIELD1 -->
				<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
				<tr>
					<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{PROFILE_FIELD1_NAME}: </td>
					<td><b class="genmed">{PROFILE_FIELD1_VALUE}</b></td>
				</tr>
			<!-- ENDIF -->
			<!-- BEGIN custom_fields -->
				<tr>
					<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{custom_fields.PROFILE_FIELD_NAME}: </td>
					<td><b class="genmed">{custom_fields.PROFILE_FIELD_VALUE}</b></td>
				</tr>
			<!-- END custom_fields -->
			</table>
		</td>
	</tr>
	<!-- IF SIGNATURE -->
		<tr><td class="cat" colspan="2" align="center"><h4 class="dark">{L_SIGNATURE}</h4></td></tr>
		<tr><td class="row1" colspan="2"><div class="postbody" style="padding:10px;">{SIGNATURE}</div></td></tr>
	<!-- ENDIF -->
	<tr><td class="cat-bottom" colspan="2">&nbsp;</td></tr>
	</table>
	<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>

	</form>

</div>

<br clear="all" />

<!-- INCLUDE breadcrumbs_footer.html -->

<br clear="all" />

<div style="float:{S_CONTENT_FLOW_END};"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->