<div style="text-align:center;"><!-- IF U_ACP --><br /><br /><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><br /><!-- ENDIF --></div>

	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<!--
	We request you retain the full copyright notice below including the link to www.phpbb.com.
	This not only gives respect to the large amount of time given freely by the developers
	but also helps build interest, traffic and use of phpBB3. If you (honestly) cannot retain
	the full copyright we ask you at least leave in place the "Powered by phpBB" line, with
	"phpBB" linked to www.phpbb.com. If you refuse to include even this then support on our
	forums may be affected.

	The phpBB Group : 2006
//-->

<div id="bottom_logo_ext">
<div id="bottom_logo">
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td class="np" nowrap="nowrap" width="250" align="left">
				<br /><span class="copyright">&nbsp;Powered by <a href="http://www.phpbb.com/">phpBB</a> &copy; 2000, 2002, 2005, 2007 phpBB Group</span><br /><br />
			</td>
			<td class="np" nowrap="nowrap" align="center">&nbsp;</td>
			<td class="np" nowrap="nowrap" width="250" align="right">
				<span class="copyright">Design by <a href="http://www.icyphoenix.com" target="_blank">Mighty Gorgon</a>&nbsp;</span><br />
				<span class="copyright">Some ideas by <a href="http://www.phpbb.com/community/memberlist.php?mode=viewprofile&u=245558" >ChriZ</a>&nbsp;</span>
			</td>
		</tr>
	</table>
</div>
</div>
		</td>
		<td class="rightshadow" width="9" valign="top"><img src="{T_THEME_PATH}/images/spacer.gif" alt="" width="9" height="1" /></td>
	</tr>
</table>
</div>

<div style="text-align:center;">
<span class="copyright">
<!-- IF TRANSLATION_INFO -->{TRANSLATION_INFO}<br /><!-- ENDIF -->
<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF -->
</span>
</div>

<a name="bottom"></a>

</body>
</html>