<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title">{L_TOPIC_REVIEW} - {TOPIC_TITLE}</div></div></div></div>
<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
<tr>
	<td class="row1">
		<div style="overflow: auto; width: 100%; height: 300px;">
		<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<th width="22%">{L_AUTHOR}</th>
			<th>{L_MESSAGE}</th>
		</tr>
		<!-- BEGIN topic_review_row -->

			<!-- IF topic_review_row.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
				<!-- IF topic_review_row.S_IGNORE_POST -->
				<td colspan="2">{topic_review_row.L_IGNORE_POST}</td>
				<!-- ELSE -->

				<td rowspan="2" align="{S_CONTENT_FLOW_BEGIN}" valign="top"><a id="pr{topic_review_row.POST_ID}"></a>
					<table width="150" cellspacing="0">
					<tr>
						<td align="center"><b class="postauthor"<!-- IF topic_review_row.POST_AUTHOR_COLOUR --> style="color: {topic_review_row.POST_AUTHOR_COLOUR}"<!-- ENDIF -->>{topic_review_row.POST_AUTHOR}</b></td>
					</tr>
					</table>
				</td>
				<td width="100%">
					<!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE --><div style="display:inline;float:right;padding-right:5px;"><ul class="profile-icons" style="margin:0px;"><li class="quote-icon"><a href="#postingbox" onclick="addquote({topic_review_row.POST_ID}, '{topic_review_row.POSTER_QUOTE}');" title="{L_QUOTE} {topic_review_row.POST_AUTHOR}"><span>{L_QUOTE} {topic_review_row.POST_AUTHOR}</span></a></li></ul></div><!-- ENDIF -->
					&nbsp;<b>{L_POST_SUBJECT}:</b>&nbsp;{topic_review_row.POST_SUBJECT}
				</td>
			</tr>

			<!-- IF topic_review_row.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

				<td valign="top">
					<table width="100%" cellspacing="0">
					<tr>
						<td valign="top">
							<table width="100%" cellspacing="0" cellpadding="2">
							<tr>
								<td>
									<div class="postbody">{topic_review_row.MESSAGE}</div>

									<!-- IF topic_review_row.S_HAS_ATTACHMENTS -->
										<br clear="all" /><br />

										<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
										<tr><th>{L_ATTACHMENTS}</th></tr>
										<!-- BEGIN attachment -->
											<tr>
												<!-- IF topic_review_row.attachment.S_ROW_COUNT is even --><td class="row2"><!-- ELSE --><td class="row1"><!-- ENDIF -->{topic_review_row.attachment.DISPLAY_ATTACHMENT}</td>
											</tr>
										<!-- END attachment -->
										</table>
									<!-- ENDIF -->

									<!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE -->
										<div id="message_{topic_review_row.POST_ID}" style="display: none;">{topic_review_row.DECODED_MESSAGE}</div>
									<!-- ENDIF -->
								</td>
							</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table width="100%" cellspacing="0">
							<tr valign="middle">
								<td width="100%" align="{S_CONTENT_FLOW_BEGIN}"><span class="gensmall"><!-- IF topic_review_row.U_MCP_DETAILS -->[ <a href="{topic_review_row.U_MCP_DETAILS}">{L_POST_DETAILS}</a> ]<!-- ENDIF --></span></td>
								<td width="10" nowrap="nowrap"><!-- IF S_IS_BOT -->{topic_review_row.MINI_POST_IMG}<!-- ELSE --><a href="{topic_review_row.U_MINI_POST}">{topic_review_row.MINI_POST_IMG}</a><!-- ENDIF --></td>
								<td class="gensmall" nowrap="nowrap"><b>{L_POSTED}:</b> {topic_review_row.POST_DATE}</td>
							</tr>
							</table>
						</td>
					</tr>
					</table>
				</td>
				<!-- ENDIF -->
			</tr>
			<tr><td class="spacer" colspan="2"><img src="{T_THEME_PATH}/images/spacer.gif" width="1" height="4" alt="" /></td></tr>
		<!-- END topic_review_row -->
		</table>
	</div></td>
</tr>
<tr><td class="cat-bottom">&nbsp;</td></tr>
</table>
<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>

<br clear="all" />
