<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title">{L_MESSAGE_HISTORY} - {HISTORY_TITLE}</div></div></div></div>
<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
<tr>
	<td class="row1"><div style="overflow:auto;width:100%;height:300px;">

		<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<th width="22%">{L_AUTHOR}</th>
			<th>{L_MESSAGE}</th>
		</tr>
	<!-- BEGIN history_row -->
			<!-- IF history_row.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td rowspan="2" align="{S_CONTENT_FLOW_BEGIN}" valign="top"><a name="{history_row.MSG_ID}"></a>
				<table width="150" cellspacing="0"><tr><td align="center" colspan="2"><span class="postauthor">{history_row.MESSAGE_AUTHOR_FULL}</span></td></tr></table>
			</td>
			<td width="100%"<!-- IF history_row.S_CURRENT_MSG --> class="pm-bg-color"<!-- ENDIF -->>
				<div class="gensmall" style="float: {S_CONTENT_FLOW_BEGIN};"><b>{L_PM_SUBJECT}:</b>&nbsp;{history_row.SUBJECT}</div><div class="gensmall" style="float: {S_CONTENT_FLOW_END};"><b>{L_FOLDER}:</b>&nbsp;{history_row.FOLDER}</div>
			</td>
		</tr>

		<!-- IF history_row.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td valign="top">
				<table width="100%" cellspacing="0">
				<tr>
					<td valign="top">
						<table width="100%" cellspacing="0" cellpadding="2">
						<tr><td><div class="postbody">{history_row.MESSAGE}</div><div id="message_{history_row.MSG_ID}" style="display: none;">{history_row.DECODED_MESSAGE}</div></td></tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table width="100%" cellspacing="0">
						<tr valign="middle">
							<td width="100%">&nbsp;</td>
							<td width="10" nowrap="nowrap">{history_row.MINI_POST_IMG}</td>
							<td class="gensmall" nowrap="nowrap"><b>{L_SENT_AT}:</b> {history_row.SENT_DATE}</td>
						</tr>
						</table>
					</td>
				</tr>
				</table>
			</td>
		</tr>

		<!-- IF history_row.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td class="gensmall"><a href="{history_row.U_VIEW_MESSAGE}">{L_VIEW_PM}</a></td>
			<td>
				<div class="gensmall" style="display: inline; float: right;">
					<!-- IF history_row.U_QUOTE -->
					<ul class="profile-icons">
						<!-- IF history_row.U_QUOTE or history_row.MESSAGE_AUTHOR_QUOTE --><li class="quote-icon"><a href="{history_row.U_QUOTE}" title="{L_POST_QUOTE_PM}"><span>{L_POST_QUOTE_PM}</span></a></li><!-- ENDIF -->
					</ul>
					<!-- ENDIF -->
				</div>
				<!-- IF history_row.U_POST_REPLY_PM --><div class="buttons"><div class="reply-icon"><a href="{history_row.U_POST_REPLY_PM}" title="{L_POST_REPLY}"><span></span>{L_POST_REPLY}</a></div><!-- ENDIF -->&nbsp;
			</td>
		</tr>
		<tr><td class="spacer" colspan="2"><img src="{T_THEME_PATH}/images/spacer.gif" width="1" height="4" alt="" /></td></tr>
	<!-- END history_row -->
		</table>
	</div></td>
</tr>
<tr><td class="cat-bottom">&nbsp;</td></tr>
</table>
<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>

<br clear="all" />