<!-- INCLUDE ucp_header.html -->

<div id="pagecontent">

<!-- INCLUDE ucp_pm_message_header.html -->
<div style="padding:2px;"></div>

<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title">&nbsp;</div></div></div></div>
<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">

<tr class="row1">
	<td class="genmed" nowrap="nowrap" width="150"><b>{L_PM_SUBJECT}:</b></td>
	<td class="gen">{SUBJECT}</td>
</tr>

<tr class="row1">
	<td class="genmed" nowrap="nowrap" width="150"><b>{L_PM_FROM}:</b></td>
	<td class="gen">{MESSAGE_AUTHOR_FULL}</td>
</tr>

<tr class="row1">
	<td class="genmed" nowrap="nowrap" width="150"><b>{L_SENT_AT}:</b></td>
	<td class="gen">{SENT_DATE}</td>
</tr>

<!-- IF S_TO_RECIPIENT -->
	<tr class="row1">
		<td class="genmed" nowrap="nowrap" width="150"><b>{L_TO}:</b></td>
		<td class="gen">
		<!-- BEGIN to_recipient -->
			<!-- IF to_recipient.IS_GROUP --><span class="sep"><a href="{to_recipient.U_VIEW}">{to_recipient.NAME}</a></span><!-- ELSE -->{to_recipient.NAME_FULL}&nbsp;<!-- ENDIF -->
		<!-- END to_recipient -->
		</td>
	</tr>
<!-- ENDIF -->

<!-- IF S_BCC_RECIPIENT -->
	<tr class="row1">
		<td class="genmed" nowrap="nowrap" width="150"><b>{L_BCC}:</b></td>
		<td class="gen">
		<!-- BEGIN bcc_recipient -->
			<!-- IF bcc_recipient.IS_GROUP --><span class="sep"><a href="{bcc_recipient.U_VIEW}">{bcc_recipient.NAME}</a></span><!-- ELSE -->{bcc_recipient.NAME_FULL}&nbsp;<!-- ENDIF -->
		<!-- END bcc_recipient -->
		</td>
	</tr>
<!-- ENDIF -->
<tr><td class="cat-bottom" colspan="2">&nbsp;</td></tr>
</table>
<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>

<div style="padding:2px;"></div>

<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title">{L_MESSAGE}</div></div></div></div>
<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
<tr><td class="spacer"><img src="{T_THEME_PATH}/images/spacer.gif" width="1" height="4" alt="" /></td></tr>

<tr class="row1">
	<td valign="top">
		<table width="100%" cellspacing="5">
		<tr>
			<td>
				<div class="postbody">{MESSAGE}</div>

				<!-- IF S_HAS_ATTACHMENTS -->
					<br clear="all" /><br />

					<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
					<tr><td class="row3"><b class="genmed">{L_ATTACHMENTS}: </b></td></tr>
					<!-- BEGIN attachment -->
						<tr><td class="row2">{attachment.DISPLAY_ATTACHMENT}</td></tr>
					<!-- END attachment -->
					</table>
				<!-- ENDIF -->

				<!-- IF S_DISPLAY_NOTICE -->
					<span class="gensmall error"><br /><br />{L_DOWNLOAD_NOTICE}</span>
				<!-- ENDIF -->
				<!-- IF SIGNATURE -->
					<div class="postbody"><br />_________________<br />{SIGNATURE}</div>
				<!-- ENDIF -->
				<!-- IF EDITED_MESSAGE -->
					<span class="gensmall">{EDITED_MESSAGE}</span>
				<!-- ENDIF -->

				<!-- IF not S_HAS_ATTACHMENTS --><br clear="all" /><br /><!-- ENDIF -->

			</td>
		</tr>
		</table>
	</td>
</tr>

<tr>
	<td class="row-post-bottom">
	<div class="gensmall" style="display:inline;float:right;">
		<!-- IF U_DELETE or U_EDIT or U_QUOTE -->
		<ul class="profile-icons">
			<!-- IF U_EDIT --><li class="edit-icon"><a href="{U_EDIT}" title="{L_POST_EDIT_PM}"><span>{L_POST_EDIT_PM}</span></a></li><!-- ENDIF -->
			<!-- IF U_DELETE --><li class="delete-icon"><a href="{U_DELETE}" title="{L_DELETE_MESSAGE}"><span>{L_DELETE_MESSAGE}</span></a></li><!-- ENDIF -->
			<!-- IF U_REPORT --><li class="report-icon"><a href="{U_REPORT}" title="{L_REPORT_PM}"><span>{L_REPORT_PM}</span></a></li><!-- ENDIF -->
			<!-- IF U_QUOTE --><li class="quote-icon"><a href="{U_QUOTE}" title="{L_POST_QUOTE_PM}"><span>{L_POST_QUOTE_PM}</span></a></li><!-- ENDIF -->
		</ul>
		<!-- ENDIF -->
	</div>
	</td>
</tr>

<tr><td class="spacer"><img src="{T_THEME_PATH}/images/spacer.gif" width="1" height="4" alt="" /></td></tr>
<tr><td class="cat-bottom">&nbsp;</td></tr>
</table>
<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>

<!-- IF U_POST_REPLY_PM or U_POST_NEW_TOPIC or U_FORWARD_PM -->
<div style="display:inline;">
<div class="buttons">
	<!-- IF U_POST_REPLY_PM --><div class="pmreply-icon"><a title="{L_POST_REPLY_PM}" href="{U_POST_REPLY_PM}"><span></span>{L_POST_REPLY_PM}</a></div>
	<!-- ELSEIF U_POST_NEW_TOPIC --><div class="newpm-icon"><a href="{U_POST_NEW_TOPIC}" accesskey="n" title="{L_UCP_PM_COMPOSE}"><span></span>{L_UCP_PM_COMPOSE}</a></div><!-- ENDIF -->
	<!-- IF U_FORWARD_PM --><div class="forwardpm-icon"><a title="{L_POST_FORWARD_PM}" href="{U_FORWARD_PM}"><span></span>{L_FORWARD_PM}</a></div><!-- ENDIF -->
</div>
</div>
<br />
<br />
<!-- ENDIF -->


<div style="padding:2px;"></div>
<!-- INCLUDE ucp_pm_message_footer.html -->

<br clear="all" />

</div>

<!-- IF S_DISPLAY_HISTORY --><!-- INCLUDE ucp_pm_history.html --><!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->