<!-- INCLUDE ucp_header.html -->

<!-- DEFINE $S_SIGNATURE = 1 -->
<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title">{L_TITLE}</div></div></div></div>
<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
<tr><td colspan="2" class="row1">{L_SIGNATURE_EXPLAIN}</td></tr>
<!-- IF ERROR -->
	<tr><td class="row3" colspan="2" align="center"><span class="gensmall error">{ERROR}</span></td></tr>
<!-- ENDIF -->

<tr>
	<td colspan="2" class="row2">
		<script type="text/javascript">
		// <![CDATA[
			var form_name = 'ucp';
			var text_name = 'signature';
		// ]]>
		</script>

		<table cellspacing="0" cellpadding="2" border="0" width="99%">
		<!-- INCLUDE posting_buttons.html -->
		<tr>
			<td colspan="2"><textarea class="post" name="signature" rows="10" cols="76" style="width: 90%;" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();">{SIGNATURE}</textarea></td>
		</tr>
		<!-- IF S_BBCODE_ALLOWED -->
		<tr>
			<td colspan="2">
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
					<td align="{S_CONTENT_FLOW_BEGIN}">
						<script type="text/javascript">
						// <![CDATA[
							colorPalette('h', 6, 5)
						// ]]>
						</script>
					</td>
				</tr>
				</table>
			</td>
		</tr>
		<!-- ENDIF -->
		</table>
	</td>
</tr>
<tr>
	<td class="row1" valign="top"><b class="genmed">{L_OPTIONS}</b><br />
		<table cellspacing="2" cellpadding="0" border="0">
		<tr>
			<td class="gensmall">{BBCODE_STATUS}</td>
		</tr>
		<tr>
			<td class="gensmall">{IMG_STATUS}</td>
		</tr>
		<tr>
			<td class="gensmall">{FLASH_STATUS}</td>
		</tr>
		<tr>
			<td class="gensmall">{URL_STATUS}</td>
		</tr>
		<tr>
			<td class="gensmall">{SMILIES_STATUS}</td>
		</tr>
		</table>
	</td>
	<td class="row2" valign="top">
		<table cellspacing="0" cellpadding="1" border="0">
		<!-- IF S_BBCODE_ALLOWED -->
			<tr>
				<td><input type="checkbox" class="radio" name="disable_bbcode"{S_BBCODE_CHECKED} /></td>
				<td class="gen">{L_DISABLE_BBCODE}</td>
			</tr>
		<!-- ENDIF -->
		<!-- IF S_SMILIES_ALLOWED -->
			<tr>
				<td><input type="checkbox" class="radio" name="disable_smilies"{S_SMILIES_CHECKED} /></td>
				<td class="gen">{L_DISABLE_SMILIES}</td>
			</tr>
		<!-- ENDIF -->
		<!-- IF S_LINKS_ALLOWED -->
			<tr>
				<td><input type="checkbox" class="radio" name="disable_magic_url"{S_MAGIC_URL_CHECKED} /></td>
				<td class="gen">{L_DISABLE_MAGIC_URL}</td>
			</tr>
		<!-- ENDIF -->
		</table>
	</td>
</tr>

<!-- IF SIGNATURE_PREVIEW -->
	<tr><th colspan="2" valign="middle">{L_SIGNATURE_PREVIEW}</th></tr>
	<tr><td class="row1" colspan="2"><div class="postbody" style="padding: 6px;">{SIGNATURE_PREVIEW}</div></td></tr>
<!-- ENDIF -->

<tr><td class="cat-bottom" colspan="2">{S_HIDDEN_FIELDS}<input class="btnlite" type="submit" name="preview" value="{L_PREVIEW}" />&nbsp;&nbsp;<input class="btnmain" type="submit" name="submit" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="btnlite" type="reset" value="{L_RESET}" name="reset" /></td></tr>
</table>
<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>

<!-- INCLUDE ucp_footer.html -->