<!-- INCLUDE overall_header.html -->

<!-- INCLUDE breadcrumbs.html -->
<br />

<!-- IF S_FORUM_RULES -->
	<div class="forumrules">
		<!-- IF U_FORUM_RULES -->
			<h3>{L_FORUM_RULES}</h3><br />
			<a href="{U_FORUM_RULES}"><b>{L_FORUM_RULES_LINK}</b></a>
		<!-- ELSE -->
			<h3>{L_FORUM_RULES}</h3><br />
			{FORUM_RULES}
		<!-- ENDIF -->
	</div>

	<br clear="all" />
<!-- ENDIF -->

<div id="pageheader">
	<h2><a class="titles" href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a></h2>

<!-- IF MODERATORS -->
	<p class="moderators"><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->: {MODERATORS}</p>
<!-- ENDIF -->
<!-- IF U_MCP -->
	<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
<!-- ENDIF -->
</div>

<br clear="all" /><br />

<div id="pagecontent">
	<div>
	<!-- IF TOTAL_POSTS -->
	<div style="float:right;"><span class="nav">&nbsp;{PAGE_NUMBER}</span><span class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_POSTS} ]&nbsp;<!-- INCLUDE pagination.html --></span></div>
	<!-- ENDIF -->
	<!-- IF not S_IS_BOT -->
	<div class="buttons">
		<!-- IF S_DISPLAY_POST_INFO --><div class="<!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->post-icon<!-- ENDIF -->"><a href="{U_POST_NEW_TOPIC}" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->"><span></span><!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->"></a></div><!-- ENDIF -->
		<!-- IF S_DISPLAY_REPLY_INFO --><div class="<!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->reply-icon<!-- ENDIF -->"><a href="{U_POST_REPLY_TOPIC}" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->"><span></span><!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF --></a></div><!-- ENDIF -->
	</div>
	<br /><br /><br />
	<!-- ENDIF -->
	</div>

	<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title"><h4><a href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a></h4></div></div></div></div>
	<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="cat">
			<table width="100%" cellspacing="0">
			<tr>
				<td class="nav" nowrap="nowrap">&nbsp;
				<!-- IF not S_IS_BOT -->
					<!-- IF U_WATCH_TOPIC --><img src="{T_IMAGESET_PATH}/post_page_find.png" alt="{L_WATCH_TOPIC}" style="vertical-align:middle;" />&nbsp;<a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a><!-- IF U_PRINT_TOPIC or U_EMAIL_TOPIC or U_BUMP_TOPIC or U_BOOKMARK_TOPIC -->&nbsp;|&nbsp;<!-- ENDIF --><!-- ENDIF -->
					<!-- IF U_BOOKMARK_TOPIC --><img src="{T_IMAGESET_PATH}/post_book.png" alt="{L_BOOKMARK_TOPIC}" style="vertical-align:middle;" />&nbsp;<a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}">{L_BOOKMARK_TOPIC}</a><!-- IF U_PRINT_TOPIC or U_EMAIL_TOPIC or U_BUMP_TOPIC -->&nbsp;|&nbsp;<!-- ENDIF --><!-- ENDIF -->
					<!-- IF U_PRINT_TOPIC --><img src="{T_IMAGESET_PATH}/post_print.png" alt="{L_PRINT_TOPIC}" style="vertical-align:middle;" />&nbsp;<a href="{U_PRINT_TOPIC}" title="{L_PRINT_TOPIC}">{L_PRINT_TOPIC}</a><!-- IF U_EMAIL_TOPIC or U_BUMP_TOPIC -->&nbsp;|&nbsp;<!-- ENDIF --><!-- ENDIF -->
					<!-- IF U_EMAIL_TOPIC --><img src="{T_IMAGESET_PATH}/post_email.png" alt="{L_EMAIL_TOPIC}" style="vertical-align:middle;" />&nbsp;<a href="{U_EMAIL_TOPIC}" title="{L_EMAIL_TOPIC}">{L_EMAIL_TOPIC}</a><!-- IF U_BUMP_TOPIC -->&nbsp;|&nbsp;<!-- ENDIF --><!-- ENDIF -->
					<!-- IF U_BUMP_TOPIC --><img src="{T_IMAGESET_PATH}/post_asterisk.png" alt="{L_BUMP_TOPIC}" style="vertical-align:middle;" />&nbsp;<a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}">{L_BUMP_TOPIC}</a><!-- ENDIF -->
				<!-- ENDIF -->
				</td>
				<td class="nav" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><img src="{T_IMAGESET_PATH}/post_previous.png" alt="{L_VIEW_PREVIOUS_TOPIC}" style="vertical-align:middle;" />&nbsp;<a href="{U_VIEW_OLDER_TOPIC}">{L_VIEW_PREVIOUS_TOPIC}</a><!-- IF U_VIEW_UNREAD_POST and not S_IS_BOT -->&nbsp;|&nbsp;<img src="{T_IMAGESET_PATH}/post_new.png" alt="{L_VIEW_UNREAD_POST}" style="vertical-align:middle;" />&nbsp;<a href="{U_VIEW_UNREAD_POST}">{L_VIEW_UNREAD_POST}</a><!-- ENDIF -->&nbsp;|&nbsp;<a href="{U_VIEW_NEWER_TOPIC}">{L_VIEW_NEXT_TOPIC}</a>&nbsp;<img src="{T_IMAGESET_PATH}/post_next.png" alt="{L_VIEW_NEXT_TOPIC}" style="vertical-align:middle;" /></td>
			</tr>
			</table>
		</td>
	</tr>
<!-- IF S_HAS_POLL -->
	<tr>
		<td class="row2" align="center"><br clear="all" />

			<form method="post" action="{S_POLL_ACTION}">

			<table align="center" cellpadding="4" cellspacing="0" border="0">
			<tr><td align="center"><span class="gen"><b>{POLL_QUESTION}</b></span><br /><span class="gensmall">{L_POLL_LENGTH}</span></td></tr>
			<tr>
				<td align="{S_CONTENT_FLOW_BEGIN}">
					<table cellpadding="2" cellspacing="0" border="0">
				<!-- BEGIN poll_option -->
					<tr>
					<!-- IF S_CAN_VOTE -->
						<td>
							<!-- IF S_IS_MULTI_CHOICE -->
								<input type="checkbox" class="radio" name="vote_id[]" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> />
							<!-- ELSE -->
								<input type="radio" class="radio" name="vote_id[]" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> />
							<!-- ENDIF -->
						</td>
					<!-- ENDIF -->
						<td><span class="gen">{poll_option.POLL_OPTION_CAPTION}</span></td>
						<!-- IF S_DISPLAY_RESULTS -->
							<td dir="ltr">{POLL_LEFT_CAP_IMG}{poll_option.POLL_OPTION_IMG}{POLL_RIGHT_CAP_IMG}</td>
							<td class="gen" align="{S_CONTENT_FLOW_END}"><b>&nbsp;{poll_option.POLL_OPTION_PERCENT}&nbsp;</b></td>
							<td class="gen" align="center">[ {poll_option.POLL_OPTION_RESULT} ]</td>
							<!-- IF poll_option.POLL_OPTION_VOTED -->
								<td class="gensmall" valign="top"><b title="{L_POLL_VOTED_OPTION}">x</b></td>
							<!-- ENDIF -->
						<!-- ENDIF -->
					</tr>
				<!-- END poll_option -->
					</table>
				</td>
			</tr>
		<!-- IF S_CAN_VOTE -->
			<tr><td align="center"><span class="gensmall">{L_MAX_VOTES}</span><br /><br /><input type="submit" name="update" value="{L_SUBMIT_VOTE}" class="btnlite" /></td></tr>
		<!-- ENDIF -->
		<!-- IF S_DISPLAY_RESULTS -->
			<tr><td class="gensmall" colspan="4" align="center"><b>{L_TOTAL_VOTES} : {TOTAL_VOTES}</b></td></tr>
		<!-- ELSE -->
			<tr><td align="center"><span class="gensmall"><b><a href="{U_VIEW_RESULTS}">{L_VIEW_RESULTS}</a></b></span></td></tr>
		<!-- ENDIF -->
			</table>
			{S_HIDDEN_FIELDS}
			{S_FORM_TOKEN}

			</form>

		</td>
	</tr>
<!-- ENDIF -->
	</table>
	<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>

<!-- BEGIN postrow -->
	<!-- IF postrow.S_FIRST_ROW -->
	<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title"><h4><a href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a></h4></div></div></div></div>
	<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<th>{L_AUTHOR}</th>
			<th>{L_MESSAGE}</th>
		</tr>
	<!-- ENDIF -->
	<tr>
	<!-- IF postrow.S_IGNORE_POST -->
		<td class="row-post-top" valign="top" colspan="2" align="center"><span class="gensmall"><!-- IF postrow.S_FIRST_UNREAD --><a name="unread"></a><!-- ENDIF --><a name="p{postrow.POST_ID}"></a>{postrow.L_IGNORE_POST}</span></td>
	<!-- ELSE -->
		<td class="row-post-top" align="center" valign="middle">
			<!-- IF postrow.S_FIRST_UNREAD --><a name="unread"></a><!-- ENDIF --><a name="p{postrow.POST_ID}"></a>
			<b class="postauthor"<!-- IF postrow.POST_AUTHOR_COLOUR --> style="color:{postrow.POST_AUTHOR_COLOUR}"<!-- ENDIF -->>{postrow.POST_AUTHOR}</b>
		</td>
		<td class="row-post-top" width="100%">
			<table width="100%" cellspacing="0">
			<tr>
			<!-- IF postrow.POST_ICON_IMG -->
				<td><img src="{T_ICONS_PATH}{postrow.POST_ICON_IMG}" width="{postrow.POST_ICON_IMG_WIDTH}" height="{postrow.POST_ICON_IMG_HEIGHT}" alt="" title="" /></td>
			<!-- ENDIF -->
				<td class="gensmall" width="100%"><div style="float:{S_CONTENT_FLOW_BEGIN};">&nbsp;<b>{L_POST_SUBJECT}:</b> {postrow.POST_SUBJECT}</div><div style="float:{S_CONTENT_FLOW_END};"><!-- IF S_IS_BOT -->&nbsp;{postrow.MINI_POST_IMG}&nbsp;<!-- ELSE -->&nbsp;<a href="{postrow.U_MINI_POST}">{postrow.MINI_POST_IMG}</a>&nbsp;<!-- ENDIF --><b>{L_POSTED}:</b> {postrow.POST_DATE}&nbsp;</div></td>
			</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td class="row-post-body" valign="top">
			<table cellspacing="4" align="center" width="150">
			<!-- IF postrow.ONLINE_IMG -->
			<tr><td>{postrow.ONLINE_IMG}</td></tr>
			<!-- ENDIF -->
			<!-- IF postrow.RANK_TITLE -->
			<tr><td class="postdetails">{postrow.RANK_TITLE}</td></tr>
			<!-- ENDIF -->
			<!-- IF postrow.RANK_IMG -->
			<tr><td>{postrow.RANK_IMG}</td></tr>
			<!-- ENDIF -->
			<!-- IF postrow.POSTER_AVATAR -->
			<tr><td>{postrow.POSTER_AVATAR}</td></tr>
			<!-- ENDIF -->
			<!-- IF not (postrow.ONLINE_IMG or postrow.RANK_TITLE or postrow.RANK_IMG or postrow.POSTER_AVATAR) -->
			<tr><td>&nbsp;</td></tr>
			<!-- ENDIF -->
			<tr>
				<td>
					<ul class="profile-icons">
						<!-- IF postrow.U_POST_AUTHOR --><li class="vprofile-icon"><a href="{postrow.U_POST_AUTHOR}" title="{L_PROFILE}"><span>{L_PROFILE}</span></a></li><!-- ENDIF -->
						<!-- IF postrow.U_PM --><li class="pm-icon"><a href="{postrow.U_PM}" title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
						<!-- IF postrow.U_EMAIL --><li class="email-icon"><a href="{postrow.U_EMAIL}" title="{L_EMAIL}"><span>{L_EMAIL}</span></a></li><!-- ENDIF -->
						<!-- IF postrow.U_WWW --><li class="web-icon"><a href="{postrow.U_WWW}" title="{L_VISIT_WEBSITE}: {postrow.U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
						<!-- IF postrow.U_MSN --><li class="msnm-icon"><a href="{postrow.U_MSN}" onclick="popup(this.href, 550, 320); return false;" title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
						<!-- IF postrow.U_ICQ --><li class="icq-icon"><a href="{postrow.U_ICQ}" onclick="popup(this.href, 550, 320); return false;" title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
						<!-- IF postrow.U_YIM --><li class="yahoo-icon"><a href="{postrow.U_YIM}" onclick="popup(this.href, 780, 550); return false;" title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
						<!-- IF postrow.U_AIM --><li class="aim-icon"><a href="{postrow.U_AIM}" onclick="popup(this.href, 550, 320); return false;" title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
						<!-- IF postrow.U_JABBER --><li class="jabber-icon"><a href="{postrow.U_JABBER}" onclick="popup(this.href, 550, 320); return false;" title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
					</ul>
				</td>
			</tr>
			</table>

			<span class="postdetails">
				<!-- IF postrow.POSTER_JOINED --><br /><b>{L_JOINED}:</b> {postrow.POSTER_JOINED}<!-- ENDIF -->
				<!-- IF postrow.POSTER_POSTS != '' --><br /><b>{L_POSTS}:</b> {postrow.POSTER_POSTS}<!-- ENDIF -->
				<!-- IF postrow.POSTER_FROM --><br /><b>{L_LOCATION}:</b> {postrow.POSTER_FROM}<!-- ENDIF -->

				<!-- IF postrow.S_PROFILE_FIELD1 -->
					<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
					<br /><b>{postrow.PROFILE_FIELD1_NAME}:</b> {postrow.PROFILE_FIELD1_VALUE}
				<!-- ENDIF -->

				<!-- BEGIN custom_fields -->
					<br /><b>{postrow.custom_fields.PROFILE_FIELD_NAME}:</b> {postrow.custom_fields.PROFILE_FIELD_VALUE}
				<!-- END custom_fields -->
			</span>

		</td>
		<td class="row-post-body" valign="top">
			<table width="100%" cellspacing="5">
			<tr>
				<td>
				<!-- IF postrow.S_POST_UNAPPROVED or postrow.S_POST_REPORTED -->
					<table width="100%" cellspacing="0">
					<tr>
						<td class="gensmall"><!-- IF postrow.S_POST_UNAPPROVED --><span class="postapprove">{UNAPPROVED_IMG} <a href="{postrow.U_MCP_APPROVE}">{L_POST_UNAPPROVED}</a></span><br /><!-- ENDIF --> <!-- IF postrow.S_POST_REPORTED --><span class="postreported">{REPORTED_IMG} <a href="{postrow.U_MCP_REPORT}">{L_POST_REPORTED}</a></span><!-- ENDIF --></td>
					</tr>
					</table>

					<br clear="all" />
				<!-- ENDIF -->

					<div class="postbody">{postrow.MESSAGE}</div>

				<!-- IF postrow.S_HAS_ATTACHMENTS -->
					<br clear="all" /><br />

					<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
					<tr><td class="row3"><b class="genmed">{L_ATTACHMENTS}: </b></td></tr>
					<!-- BEGIN attachment -->
						<tr>
							<!-- IF postrow.attachment.S_ROW_COUNT is even --><td class="row2"><!-- ELSE --><td class="row1"><!-- ENDIF -->{postrow.attachment.DISPLAY_ATTACHMENT}</td>
						</tr>
					<!-- END attachment -->
					</table>
				<!-- ENDIF -->

				<!-- IF postrow.S_DISPLAY_NOTICE -->
					<span class="gensmall error"><br /><br />{L_DOWNLOAD_NOTICE}</span>
				<!-- ENDIF -->
				<!-- IF postrow.SIGNATURE -->
					<div class="postbody"><br />_________________<br />{postrow.SIGNATURE}</div>
				<!-- ENDIF -->

				<!-- IF postrow.EDITED_MESSAGE or postrow.EDIT_REASON -->
					<!-- IF postrow.EDIT_REASON -->
						<br /><br />
						<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
						<tr><td class="row3"><span class="gensmall">{postrow.EDITED_MESSAGE}</span></td></tr>
						<tr><td class="row2"><span class="genmed">{postrow.EDIT_REASON}</span></td></tr>
						</table>
					<!-- ELSE -->
						<br /><br />
						<span class="gensmall">{postrow.EDITED_MESSAGE}</span>
					<!-- ENDIF -->
				<!-- ENDIF -->

				<!-- IF postrow.BUMPED_MESSAGE -->
					<br /><br /><span class="gensmall">{postrow.BUMPED_MESSAGE}</span>
				<!-- ENDIF -->

				<!-- IF not postrow.S_HAS_ATTACHMENTS --><br clear="all" /><br /><!-- ENDIF -->

				</td>
			</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td class="row-post-bottom" align="center"><a href="#top"><img src="{T_IMAGESET_PATH}/arrow_up.{$MG_BUTTONS_EXTENSION}" alt="{L_BACK_TO_TOP}" title="{L_BACK_TO_TOP}" /></a>&nbsp;<a href="#bottom"><img src="{T_IMAGESET_PATH}/arrow_down.{$MG_BUTTONS_EXTENSION}" alt="" title="" /></a></td>
		<td class="row-post-bottom">
		<!-- IF not S_IS_BOT -->
			<!-- IF postrow.U_QUOTE or postrow.U_INFO or postrow.U_DELETE or postrow.U_EDIT -->
				<div style="display:inline;float:right;">
				<ul class="profile-icons">
					<!-- IF postrow.U_DELETE --><li class="delete-icon"><a href="{postrow.U_DELETE}" title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li><!-- ENDIF -->
					<!-- IF postrow.U_REPORT --><li class="report-icon"><a href="{postrow.U_REPORT}" title="{L_REPORT_POST}"><span>{L_REPORT_POST}</span></a></li><!-- ENDIF -->
					<!-- IF postrow.U_WARN --><li class="warn-icon"><a href="{postrow.U_WARN}" title="{L_WARN_USER}"><span>{L_WARN_USER}</span></a></li><!-- ENDIF -->
					<!-- IF postrow.U_INFO --><li class="info-icon"><a href="{postrow.U_INFO}" title="{L_INFORMATION}"><span>{L_INFORMATION}</span></a></li><!-- ENDIF -->
					<!-- IF postrow.U_EDIT --><li class="edit-icon"><a href="{postrow.U_EDIT}" title="{L_EDIT_POST}"><span>{L_EDIT_POST}</span></a></li><!-- ENDIF -->
					<!-- IF postrow.U_QUOTE --><li class="quote-icon"><a href="{postrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}"><span>{L_REPLY_WITH_QUOTE}</span></a></li><!-- ENDIF -->
				</ul>
				</div>
			<!-- ENDIF -->
		<!-- ENDIF -->
		</td>
	</tr>

	<!-- ENDIF -->

	<tr><td class="spacer" colspan="2"><img src="{T_THEME_PATH}/images/spacer.gif" width="1" height="4" alt="" /></td></tr>
<!-- END postrow -->

<!-- IF not S_IS_BOT -->
	<tr><td class="cat-bottom" colspan="2"><form name="viewtopic" method="post" action="{S_TOPIC_ACTION}"><span class="gensmall">{L_DISPLAY_POSTS}:</span> {S_SELECT_SORT_DAYS}&nbsp;<span class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}&nbsp;<input class="btnlite" type="submit" value="{L_GO}" name="sort" /></form></td></tr>
<!-- ENDIF -->
	</table>
	<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>

	<div>
	<!-- IF TOTAL_POSTS -->
	<div style="float:right;"><span class="nav">&nbsp;{PAGE_NUMBER}</span><span class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_POSTS} ]&nbsp;<!-- INCLUDE pagination.html --></span></div>
	<!-- ENDIF -->
	<div class="buttons">
	<!-- IF not S_IS_BOT -->
		<!-- IF S_DISPLAY_POST_INFO --><div class="<!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->post-icon<!-- ENDIF -->"><a href="{U_POST_NEW_TOPIC}" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->"><span></span></a></div><!-- ENDIF -->
	<!-- ENDIF -->
	<!-- IF not S_IS_BOT -->
		<!-- IF S_DISPLAY_REPLY_INFO --><div class="<!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->reply-icon<!-- ENDIF -->"><a href="{U_POST_REPLY_TOPIC}" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->"><span></span></a></div><!-- ENDIF -->
	<!-- ENDIF -->
	</div>
	<br /><br /><br />
	</div>

</div>

<div id="pagefooter"></div>

<br clear="all" />

<!-- IF S_QUICK_REPLY -->
<!-- INCLUDE quickreply_editor.html -->
<!-- ENDIF -->

<!-- INCLUDE breadcrumbs.html -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<br clear="all" />

	<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title"><h4>{L_WHO_IS_ONLINE}</h4></div></div></div></div>
	<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
	<tr><td class="row1"><p class="gensmall">{LOGGED_IN_USER_LIST}</p></td></tr>
	<tr><td class="cat-bottom">&nbsp;</td></tr>
	</table>
	<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>
<!-- ENDIF -->

<br clear="all" />

<table width="100%" cellspacing="1">
<tr>
	<td width="45%" align="{S_CONTENT_FLOW_BEGIN}" valign="top" nowrap="nowrap"><!-- IF S_TOPIC_MOD --><form method="post" action="{S_MOD_ACTION}"><span class="gensmall">{L_QUICK_MOD}:</span> {S_TOPIC_MOD} <input class="btnlite" type="submit" value="{L_GO}" /></form><!-- ENDIF --></td>
	<td width="20%" align="{S_CONTENT_FLOW_END}"><span class="gensmall">&nbsp;</span></td>
	<td width="35%" align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><div class="tablebg" style="padding-right:5px;"><span class="gensmall"><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></span></div></td>
</tr>
</table>

<br clear="all" />

<table width="100%" cellspacing="0">
<tr>
	<td><!-- IF S_DISPLAY_SEARCHBOX --><!-- INCLUDE searchbox.html --><!-- ENDIF --></td>
	<td align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></td>
</tr>
</table>

<!-- INCLUDE overall_footer.html -->