/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			subsilver2
	Based on style:		subSilver (the default phpBB 2.0.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		phpBB Group ( https://www.phpbb.com/ )
    --------------------------------------------------------------
*/

/* Header */
#head	                { background: #992200 url(http://4x4.by/temp/4x4/images/head-bg.gif) repeat-x; height: 131px; margin: 0px; }
#logo                   { display: block; margin: 0px auto; position: relative; clear: both; } 
#logo h1	        { background: url(http://4x4.by/temp/4x4/images/logo_bavf.png) no-repeat; position: absolute; left: 44px; } 
#logo h1 a	        { display: block; width: 370px; height: 123px; margin: 0px; text-indent: -9999px; }
#logo .topright	        { background: url(http://4x4.by/temp/4x4/images/logo_kvs.png) no-repeat; width: 310px; height: 84px; position: absolute; right: 25px; top: 5px; text-shadow: 1px 1px 1px #992200; } 
#logo .topright p	{ text-align: right; margin: 30px 30px 0px 20px; padding: 10px; } 
#logo .topright p span  { font-family: Georgia, Arial, sans-serif; color: #ffffff; font-size: 27px; padding: 0px 6px; }  
#wrap                   { background: #ffffff url(http://4x4.by/temp/4x4/images/cont-bg.gif) repeat-x; padding: 0px; border-top: 1px solid #ffffff; }

/* Top menu */ 
#top-menu	        { height: 47px; line-height: 47px; position: relative; top: 84px; margin: 0px auto; padding: 0px; } 

/* Foteer */ 
#footer                 { background-color: #ededed; border-top: 1px solid #dcdcdc; box-shadow: inset 1px 1px 0px 0px #ffffff; }    
#bot     	        { background-color: #ededed; margin: 1px auto 0px; } 
#table-bot	        { color: #444444; font-size: 12px; width: 100%; height: 70px; border-collapse: collapse; }
#table-bot td	        { padding: 15px 25px; text-shadow: 1px 1px 0px #ffffff; } 
#table-bot a:link,
#table-bot a:visited    { color: #000000; padding: 0px 3px; text-decoration: underline; text-shadow: 1px 1px 0px #ffffff; }
#table-bot  a:hover     { text-decoration: none; }
#bot-menu	        { background: url(http://4x4.by/temp/4x4/images/bc.png) repeat-x 50%; width: 100%; height: 47px; margin: 0px; padding: 0px 16px; }  
#bot-menu a	        { color: #000000 !important; } 


/* Layout
 ------------ */
* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: "Verdana", Lucida Grande, Helvetica, Arial, sans-serif;
	color: #4D3834;
	background-color: #FFFFFF;
	font-size: 65%; /* 62.5% This sets the default font size to be equivalent to 10px */
	margin: 0;
}

#wrapheader {
	height: auto !important;
	padding: 0;
}

#wrapcentre {
	margin: 15px 25px 0 25px;
}

#wrapfooter {
	text-align: center;
	clear: both;
}

#wrapnav {
	width: 100%;
	margin: 0;
	background-color: #ECECEC;
	border-width: 1px;
	border-style: solid;
	border-color: #C2A9A9;
}

#logodesc {
	background-color: #D2C2C1;
	background-image: url('./images/background.gif');
	background-repeat: repeat-x;
	background-position: center bottom;
	padding: 0 25px 15px 25px;
}

#menubar {
	margin: 0 25px;
}

#datebar {
	margin: 10px 25px 0 25px;
}

#findbar {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.forumrules {
	background-color: #F98A79;
	border-width: 1px;
	border-style: solid;
	border-color: #BB6960;
	padding: 4px;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.forumrules h3 {
	color: red;
}

#pageheader { }
#pagecontent { }
#pagefooter { }

#poll { }
#postrow { }
#postdata { }


/*  Text
 --------------------- */
h1 {
	color: black;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	text-decoration: none;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 120%;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 120%;
}

h4 {
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
}

p {
	font-size: 1.1em;
}

p.moderators {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
}

.rtl p.moderators {
	float: right;
}

p.linkmcp {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.linkmcp {
	float: left;
}

p.breadcrumbs {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
	white-space: normal;
	font-size: 1em;
}

.rtl p.breadcrumbs {
	float: right;
}

p.datetime {
	margin: 0;
	float: right;
	white-space: nowrap;
	font-size: 1em;
}

.rtl p.datetime {
	float: left;
}

p.searchbar {
	padding: 2px 0;
	white-space: nowrap;
} 

p.searchbarreg {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.searchbarreg {
	float: left;
}

p.forumdesc {
	padding-bottom: 4px;
}

p.topicauthor {
	margin: 1px 0;
}

p.topicdetails {
	margin: 1px 0;
}

.postreported, .postreported a:link, .postreported a:visited, .postreported a:hover, .postreported a:active {
	margin: 1px 0;
	color: red;
	font-weight:bold;
}

.postapprove, .postapprove a:link, .postapprove a:visited, .postapprove a:hover, .postapprove a:active {
	color: green;
	font-weight:bold;
}

.postapprove img, .postreported img {
	vertical-align: bottom;
	padding-top: 5px;
}

.postauthor {
	color: #000000;
}

.postdetails {
	color: #000000;
}

.postbody {
	font-size: 1.3em;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

.postbody li, ol, ul {
	margin: 0 0 0 1.5em;
}

.rtl .postbody li, .rtl ol, .rtl ul {
	margin: 0 1.5em 0 0;
}

.posthilit {
	background-color: yellow;
}

.nav {
	margin: 0;
	color: black;
	font-weight: bold;
}

.pagination {
	padding: 4px;
	color: black;
	font-size: 1em;
	font-weight: bold;
}

.cattitle {

}

.gen {
	margin: 1px 1px;
	font-size: 1.2em;
}

.genmed {
	margin: 1px 1px;
	font-size: 1.1em;
}

.gensmall {
	margin: 1px 1px;
	font-size: 1em;
}

.copyright {
	color: #444;
	font-weight: normal;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.titles {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
}

.error {
	color: red;
}


/* Tables
 ------------ */
th {
	color: #FF4F56;
	font-size: 1.1em;
	font-weight: bold;
	background-color: #99000D;
	background-image: url('./images/cellpic3.gif');
	white-space: nowrap;
	padding: 5px 3px;//7px 5px;
}

td {
	padding: 0px; //2px;
}
td.profile {
	padding: 2px; //4px;
}

.tablebg {
	background-color: #C2A9A9;
}

.catdiv {
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background: white url('./images/cellpic2.jpg') repeat-y scroll top left;
}
.rtl .catdiv {
	background: white url('./images/cellpic2_rtl.jpg') repeat-y scroll top right;
}

.cat {
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #D7C7C7;
	background-image: url('./images/cellpic1.gif');
	text-indent: 4px;
}

.row1 {
	background-color: #ECECEC;
	padding: 2px; //4px;
}

.row2 {
	background-color: #E5DCDC;
	padding: 2px; //4px;
}

.row3 {
	background-color: #D0C1C0;
	padding: 2px; //4px;
}

.spacer {
	background-color: #DCD1D1;
}

hr {
	height: 1px;
	border-width: 0;
	background-color: #DCD1D1;
	color: #DCD1D1;
}

.legend {
	text-align:center;
	margin: 0 auto;
}

/* Links
 ------------ */

/* Links adjustment to correctly display an order of rtl/ltr mixed content */
.rtl a {
	direction: rtl;
	unicode-bidi: embed;
}

/* CSS spec requires a:link, a:visited, a:hover and a:active rules to be specified in this order. */
/* See http://www.phpbb.com/bugs/phpbb3/59685 */
a:link {
	color: #97000D;
	text-decoration: none;
}

a:visited {
	color: #84000A;
	text-decoration: none;
}

a:hover {
	color: #D4000A;
	text-decoration: underline;
}

a:active {
	color: #005784;
	text-decoration: none;
}

a.forumlink {
	color: #99000D;
	font-weight: bold;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}

a.topictitle {
	margin: 1px 0;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}

a.topictitle:visited {
	color: #B4545B;
	text-decoration: none;
}

th a,
th a:visited {
	color: #FF4F56 !important;
	text-decoration: none;
}

th a:hover {
	text-decoration: underline;
}


a.link-new, a.link-new:visited { color: #F45200; }
a.link-new:hover, a.link-new:visited:hover { color: #BB511B; }
/* Form Elements
 ------------ */
form {
	margin: 0;
	padding: 0;
	border: 0;
}

input {
	color: #333333;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	padding: 1px;
	border: 1px solid #C2A9A9;
	background-color: #FAFAFA;
}

textarea {
	background-color: #FAFAFA;
	color: #333333;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.3em; 
	line-height: 1.4em;
	font-weight: normal;
	border: 1px solid #C2A9A9;
	padding: 2px;
}

select {
	color: #333333;
	background-color: #FAFAFA;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	border: 1px solid #C2A9A9;
	padding: 1px;
}

option {
	padding: 0 1em 0 0;
}

option.disabled-option {
	color: graytext;
}

.rtl option {
	padding: 0 0 0 1em;
}

input.radio {
	border: none;
	background-color: transparent;
}

.post {
	background-color: white;
	border-style: solid;
	border-width: 1px;
}

.btnbbcode {
	color: #000000;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	background-color: #EFEFEF;
	border: 1px solid #666666;
}

.btnmain {
	font-weight: bold;
	background-color: #ECECEC;
	border: 1px solid #C2A9A9;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnlite {
	font-weight: normal;
	background-color: #ECECEC;
	border: 1px solid #C2A9A9;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnfile {
	font-weight: normal;
	background-color: #ECECEC;
	border: 1px solid #C2A9A9;
	padding: 1px 5px;
	font-size: 1.1em;
}

.helpline {
	background-color: #E7DEDE;
	border-style: none;
}


/* BBCode
 ------------ */
.quotetitle, .attachtitle {
	margin: 10px 5px 0 5px;
	padding: 4px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #C2A9A9;
	color: #333333;
	background-color: #C2A9A9;
	font-size: 0.85em;
	font-weight: bold;
}

.quotetitle .quotetitle {
	font-size: 1em;
}

.quotecontent, .attachcontent {
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #C2A9A9;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
	background-color: #FAFAFA;
	color: #74544E;
}

.attachcontent {
	font-size: 0.85em;
}

.codetitle {
	margin: 10px 5px 0 5px;
	padding: 2px 4px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #C2A9A9;
	color: #333333;
	background-color: #C2A9A9;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 0.8em;
}

.codecontent {
	direction: ltr;
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #C2A9A9;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	color: #006600;
	font-size: 0.85em;
	font-family: Monaco, 'Courier New', monospace;
	background-color: #FAFAFA;
}

.syntaxbg {
	color: #FFFFFF;
}

.syntaxcomment {
	color: #FF0004;
}

.syntaxdefault {
	color: #1F129C;
}

.syntaxhtml {
	color: #000000;
}

.syntaxkeyword {
	color: #007700;
}

.syntaxstring {
	color: #DD0041;
}


/* Private messages
 ------------------ */
.pm_marked_colour {
	background-color: #000000;
}

.pm_replied_colour {
	background-color: #C2A9A9;
}

.pm_friend_colour {
	background-color: #007700;
}

.pm_foe_colour {
	background-color: #DD0041;
}


/* Misc
 ------------ */
img {
	border: none;
}

.sep {
	color: black;
	background-color: #FF4F56;
}

table.colortable td {
	padding: 0;
}

pre {
	font-size: 1.1em;
	font-family: Monaco, 'Courier New', monospace;
}

.nowrap {
	white-space: nowrap;
}

.username-coloured {
	font-weight: bold;
}
    /* -------------------------
       calendar mod additions...
       ------------------------- */
       
    /* The following are part of the calendar mod.
       They follow the same format as the reply-icon, post-icon, locked-icon, pmreply-icon, newpm-icon, and forwardpm-icon.
       If you are trying to implement a style other then prosilver, look at how your existing style defines
       those icons, and do the same for the new calendar icons.
    */
    .calendar-new-icon span    { background: transparent none 0 0 no-repeat; }
    .calendar-day-icon span    { background: transparent none 0 0 no-repeat; }
    .calendar-week-icon span   { background: transparent none 0 0 no-repeat; }
    .calendar-month-icon span  { background: transparent none 0 0 no-repeat; }

    /* The following are part of the calendar mod.
       They follow the same format as the reply-icon, post-icon, locked-icon, pmreply-icon, newpm-icon, and forwardpm-icon.
       If you are trying to implement a style other then prosilver, look at how your existing style defines
       those icons, and do the same for the new calendar icons.
       
       Note the "text-align: left" was added because there were a few instances where the icons were cut in half...
       adding the text align property helps reserve enough space to fully display the icon.
    */
    .buttons div.calendar-new-icon   { width: {IMG_BUTTON_CALENDAR_NEW_WIDTH}px; height: {IMG_BUTTON_CALENDAR_NEW_HEIGHT}px; text-align: left; }
    .buttons div.calendar-day-icon   { width: {IMG_BUTTON_CALENDAR_DAY_WIDTH}px; height: {IMG_BUTTON_CALENDAR_DAY_HEIGHT}px; text-align: left; }
    .buttons div.calendar-week-icon   { width: {IMG_BUTTON_CALENDAR_WEEK_WIDTH}px; height: {IMG_BUTTON_CALENDAR_WEEK_HEIGHT}px; text-align: left; }
    .buttons div.calendar-month-icon   { width: {IMG_BUTTON_CALENDAR_MONTH_WIDTH}px; height: {IMG_BUTTON_CALENDAR_MONTH_HEIGHT}px; text-align: left; }

       
    /* uses border-top-color = .bg3 background-color
    (the line between events in the month display) */
    hr.hrCal {
       border-top-color: #cadceb;
    }

    /* uses color from h1
       (calendar header previous and next links) */
    .calH1 {
       color: #000000;
       font-weight: bold;
       font-size:200%
    }

    /* The from and to times take up a lot of
      space in the calendar display.
      Use this to shrink them */
    .smCalText{font-size:85%}

    /* bg4 is just slightly darker then bg3
      days of the week name headers
      (used in calendar headers) */
    .bg4   {    height: 28px;
       margin: 0;
       padding: 0;
       border: 0;
       background-color: #C7D0D7;
       background-image: url('./images/cellpic1.gif');
       text-indent: 4px; }

    /* uses background-color of .bg3
       this is "normal" day header color
        (used to display the numbers and icons for
        each day in the month and week view displays ) */
    table tbody td.bg3_calMonH{
       background-color: #DCE1E5;
       font-size:85%
    }

    /* uses background-color of .bg4
       this is "today/selected" header color
        (used to display the numbers and icons for
        each day in the month and week view displays ) */
    table tbody td.bg4_calMonH{
       background-color: #C0C8D0;
       font-size:85%
    }

    /* uses background-color of .bg1
       these are "normal" days
       (used to display days in calendar month/week view) */
    table.table1 tbody td.bg1_calMon {
       background-color: #ECECEC;
       padding-top: 2px;
       padding-bottom: 5px;
       padding-left: 4px;
       padding-right: 4px;
    }
    /* uses background-color of .bg2
       this is "current/slected" day
       (used to display days in calendar month/week view) */
    table.table1 tbody td.bg2_calMon {
       background-color: #DCE1E5;
       padding-top: 2px;
       padding-bottom: 5px;
       padding-left: 4px;
       padding-right: 4px;
    }
    /* uses background-color of .bg3
       these are "dummy" days
       (used to display days in calendar month/week view) */
    table.table1 tbody td.bg3_calMon {
       background-color: #f2f2f2;
       padding-top: 2px;
       padding-bottom: 5px;
       padding-left: 4px;
       padding-right: 4px;
    }


    /* uses background-color of .bg1
       uses border-top-color = .forumbg background-color
       (used to display events in calendar day view) */
    table.table1 tbody td.bg1_calDay {
       background-color: #DCE1E5;
       border-top-color: #C0C8D0;
       padding-top: 10px;
       padding-bottom: 10px;
       padding-left: 3px;
       padding-right: 3px;
    }

    /* uses background-color of .bg3
       uses border-top-color = .forumbg background-color
       (used to display negative space in calendar day view) */
    table.table1 tbody td.bg3_calDay {
       background-color: #f2f2f2;
       border-top-color: #C0C8D0;
    }

    /* The following are part of the calendar mod.
       They follow the same format as the reply-icon, post-icon, locked-icon, pmreply-icon, newpm-icon, and forwardpm-icon.
       If you are trying to implement a style other then prosilver, look at how your existing style defines
       those icons, and do the same for the new calendar icons.
    */
    .calendar-new-icon span    { background-image: url("{IMG_BUTTON_CALENDAR_NEW_SRC}") ;}
    .calendar-day-icon span     { background-image: url("{IMG_BUTTON_CALENDAR_DAY_SRC}") ;}
    .calendar-week-icon span    { background-image: url("{IMG_BUTTON_CALENDAR_WEEK_SRC}") ;}
    .calendar-month-icon span   { background-image: url("{IMG_BUTTON_CALENDAR_MONTH_SRC}") ;}

    /* -------------------------
       calendar mod end
       ------------------------- */