<!-- INCLUDE mcp_header.html -->

<form id="mcp" method="post" action="{S_MCP_ACTION}">

<table width="100%" class="tablebg" cellspacing="1" cellpadding="4" border="0">
<tr>
	<th colspan="2" nowrap="nowrap">{L_OPTIONS}</th>
</tr>
<tr>
	<td class="row3" colspan="2"><!-- IF not TOPIC_MODERATOR -->{L_TOPIC_MODERATOR_NONE}<!-- ELSE -->{L_TOPIC_MODERATOR}: {TOPIC_MODERATOR} [ <a href="{U_REMOVE_TM}" title="{L_TOPIC_MODERATOR_REMOVE}">{L_TOPIC_MODERATOR_REMOVE}</a> ]<!-- ENDIF --></td>
</tr>
<tr>
	<td class="row1" width="45%"><b>{L_SELECT_USER}:</b></td>
	<td class="row2">
		<input name="username" id="username" type="text" value="{TM_USERNAME}" />
		[ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]
	</td>
</tr>
<tr>
	<td class="row1"><b>{L_TOPIC_MODERATOR_CAN_REPLY}:</b></td>
	<td class="row2"><input type="radio" class="radio" name="can_reply" value="1" <!-- IF CAN_REPLY -->checked="checked"<!-- ENDIF --> /> {L_YES} &nbsp; <input type="radio" class="radio" name="can_reply" value="0" <!-- IF not CAN_REPLY -->checked="checked"<!-- ENDIF --> /> {L_NO}</td>
</tr>
<tr>
	<td class="row1"><b>{L_TOPIC_MODERATOR_CAN_EDIT}:</b></td>
	<td class="row2"><input type="radio" class="radio" name="can_edit" value="1" <!-- IF CAN_EDIT -->checked="checked"<!-- ENDIF --> /> {L_YES} &nbsp; <input type="radio" class="radio" name="can_edit" value="0" <!-- IF not CAN_EDIT -->checked="checked"<!-- ENDIF --> /> {L_NO}</td>
</tr>
<tr>
	<td class="row1"><b>{L_TOPIC_MODERATOR_CAN_DELETE}:</b></td>
	<td class="row2"><input type="radio" class="radio" name="can_delete" value="1" <!-- IF CAN_DELETE -->checked="checked"<!-- ENDIF --> /> {L_YES} &nbsp; <input type="radio" class="radio" name="can_delete" value="0" <!-- IF not CAN_DELETE -->checked="checked"<!-- ENDIF --> /> {L_NO}</td>
</tr>
<tr>
	<td class="row1"><b>{L_TOPIC_MODERATOR_CAN_LOCK_POST}:</b></td>
	<td class="row2"><input type="radio" class="radio" name="can_lock_post" value="1" <!-- IF CAN_LOCK_POST -->checked="checked"<!-- ENDIF --> /> {L_YES} &nbsp; <input type="radio" class="radio" name="can_lock_post" value="0" <!-- IF not CAN_LOCK_POST -->checked="checked"<!-- ENDIF --> /> {L_NO}</td>
</tr>
<tr>
	<td class="row1"><b>{L_TOPIC_MODERATOR_CAN_LOCK_TOPIC}:</b></td>
	<td class="row2"><input type="radio" class="radio" name="can_lock_topic" value="1" <!-- IF CAN_LOCK_TOPIC -->checked="checked"<!-- ENDIF --> /> {L_YES} &nbsp; <input type="radio" class="radio" name="can_lock_topic" value="0" <!-- IF not CAN_LOCK_TOPIC -->checked="checked"<!-- ENDIF --> /> {L_NO}</td>
</tr>
<tr>
	<td class="cat" colspan="2" align="center"><input type="submit" name="mcp_tm_submit" value="{L_SUBMIT}" class="btnmain" />&nbsp; <input type="reset" value="{L_RESET}" class="btnlite" />&nbsp;</td>
</tr>
</table>

{S_HIDDEN_FIELDS}
{S_FORM_TOKEN}
</form>

<!-- INCLUDE mcp_footer.html -->