<style type="text/css">
<!--
	.monthyear, .dayheaders, .days {
		width: 99.5%;
		overflow: hidden;
		margin: 0px;
		padding: 0px;
		padding-left: 0.25em;
		text-align: center;
	}
	.monthyear li {
		display: block;
		height: 2em;
		width: 89%;
		font-weight: bold;
		padding-top: 2px;
	}
	.monthyear li.previous, .monthyear li.next {
		width: 5%;
	}
	ul.dayheaders {
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.dayheaders li, .days li {
		display: block;
		width: 13%;
	}
	.dayheaders li {
		height: 1.5em;
		border-left: 1px solid #FFFFFF;
		border-right: 1px solid #8F8F8F;
		border-bottom: 1px solid #8F8F8F;
	}
	ul.days {
		margin: 0;
		width: 100%;
	}
	li.notaday, li.day {
		height: 2.2em;
	}
	li.notaday {
		padding-left: 1px;
		padding-right: 1px;
		border-bottom: 1px solid #8F8F8F;
	}
	li.day {
		padding: 0;
		border-left: 1px solid #FFFFFF;
		border-right: 1px solid #8F8F8F;
		border-bottom: 1px solid #8F8F8F;
	}
	li.event {
		font-style: italic;
		font-weight: bold;
	}
	.monthyear li, .dayheaders li, .days li {
		float: left;
	}
	.today {
		font-weight: bold;
		background: #C0C0FF;
	}

	#events ul {
		list-style-type: none;
		width: 100%;
	}
	td.events {
		margin: 0;
		padding: 0;
	}
	.events li {
		display: block;
		clear: both;
		padding-left: 0.1em;
		border-bottom: 1px solid #8F8F8F;
	}
	.events li.noview {
		font-style: italic;
	}
	.events table {
		width: 100%;
	}
	td.date {
		width: 6em;
		margin-right: 5px;
	}
	.events td {
		align: left;
	}
-->
</style>

<script type="text/javascript">
// <![CDATA[
	var save_background = '';

	function highlight_event(id, restore)
	{
		var element = document.getElementById(id);
		if (element)
		{
			if (restore)
			{
				element.style.background = save_background;
			} else
			{
				save_background = element.style.background;
				element.style.background = '#C0C0FF';
			}
		}
	}
// ]]>
</script>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td colspan="2" class="cat"></td>
</tr>
<tr>
<th colspan="2"><a rel="nofollow" href="{U_MINI_CAL_CALENDAR}">{L_MINI_CAL_CALENDAR}</a></th>
</tr>
  <tr>
    <td valign="top" width="300"><table class="tablebg" cellspacing="1" width="300" cellpadding="2" border="0">  	
	<tr><td class="row1"><div><form>
		<ul class="monthyear cat">
			<li class="previous"><a rel="nofollow" href="{U_PREV_MONTH}" title="{L_PREVIOUS_MONTH}"><img src="{T_THEME_PATH}/images/arrow_left.gif"></a></li>
			<li>{S_MONTH_YEAR}</li>
			<li class="next"><a rel="nofollow" href="{U_NEXT_MONTH}" title="{L_NEXT_MONTH}"><img src="{T_THEME_PATH}/images/arrow_right.gif"></a></li>
		</ul>
		<ul class="dayheaders">
			<!-- BEGIN day_headers -->
			<li class="cat"><abbr title="{day_headers.DAY_LONG}">{day_headers.DAY_SHORT}</abbr></li>
			<!-- END day_headers -->
		</ul>
		<ul class="days">
			<!-- BEGIN before_first_day -->
			<li class="notaday" />
			<!-- END before_first_day -->
			<!-- IF START_DAY_LINK -->
			<li class="notaday"><a href="{U_PREV_MONTH}" title="{L_PREVIOUS_MONTH}"><img src="{T_THEME_PATH}/images/arrow_left.gif"></a></li>
			<!-- ENDIF -->
			<!-- BEGIN day_infos -->
			<li class="{day_infos.DAY_CLASS} day" {day_infos.DAY_OMO}>{day_infos.DAY_INFO}</li>
			<!-- END day_infos -->
			<!-- IF END_DAY_LINK -->
			<li class="notaday"><a rel="nofollow" href="{U_NEXT_MONTH}" title="{L_NEXT_MONTH}"><img src="{T_THEME_PATH}/images/arrow_right.gif"></a></li>
			<!-- ENDIF -->
		</ul>
	</form></div></td></tr>
	</table></td>
	<td width="100%" valign="top"><table class="tablebg" cellspacing="1" width="100%" cellpadding="2" border="0">	
	<tr><td class="cat" height="28" align="center"><h4>
		<!-- IF HAS_EVENTS -->
		{L_MINI_CAL_EVENTS}
		<!-- ELSE -->
		{L_MINI_CAL_NO_EVENTS}
		<!-- ENDIF -->
	</h4></td></tr>
	<!-- IF HAS_EVENTS -->
	<tr><td class="events row1">
		<ul class="events">
		<!-- BEGIN events -->
			<li class="{events.EVENT_CLASS}" id="{events.EVENT_ID}">
				<table width="100%"><tr><td class="date row1">{events.EVENT_DATE}</td><td class="row2">{events.EVENT_URLTEXT}</td></tr></table>
			</li>
		<!-- END events -->
		</ul>
	</td></tr>
	<!-- ENDIF -->
</table>
</td>
  </tr>
</table>




	
	