﻿	<div id="datebar">
		<table width="100%" cellspacing="0">
		<tr>
			<td class="gensmall"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ENDIF --></td>
			<td class="gensmall" align="{S_CONTENT_FLOW_END}">{CURRENT_TIME}<br /></td>
		</tr>
		</table>
	</div>
<hr>
<div align="justify">Внедорожный портал любителей <a href="../forum/">off-road</a>-а (<a href="../forum/">клуб 4х4</a>) работает с 2003 года и с каждым днем регистрируются новые члены, ежедневно появляются топики и ответы. Все темы форума размещены в соответствующих разделах, для удобства поиска,  но если не удалось найти ответа на возникший вопрос, то воспользуйтесь поиском форума, наверняка найдет, то что искали, а если возникают вопросы по навигации сайта или есть неточности или проблемы на форуме, то дайте знать администрации (infо (a) 4x4.by или ICQ 344788296). Также обращайтесь если что-то не получается сделать на форуме, постараемся быстро решить вопросы. {SAPE_LINKS}</div>
<!--# Footer -->
		<table width=100% border=0 cellpadding=0 cellspacing=0 align=right>
			<tr>
				<td width=100% height=4 bgcolor=#000000><img src="images/spacer.gif"></td>
				<td width=1 height=4 bgcolor=#FFFFFF><img src="images/spacer.gif"></td>
				<td width=740 height=4 bgcolor=#000000><img src="images/spacer.gif" width=740 height=4></td>
			</tr>
			<tr>
				<td width=100% height=17 bgcolor=#C30000><img src="images/spacer.gif"></td>
				<td width=1 height=17 bgcolor=#FFFFFF><img src="images/spacer.gif"></td>
				<td width=740 height=17 bgcolor=#C30000><img src="images/spacer.gif" width=740 height=17></td>
			</tr>
			<tr>
				<td width=100% height=45 bgcolor=#CCCCCC class=copyright><img src="images/spacer.gif">© <a href="/" alt="Комитет внедорожных соревнований БАФ">4x4</a>. При использовании материалов сайта<br> гиперссылка на <a href="/" alt="Комитет внедорожных соревнований БАФ">www.4x4.by</a> обязательна.</td>
				<td width=1 height=45 bgcolor=#000000><img src="images/spacer.gif"></td>
				<td width=740 height=45 bgcolor=#CCCCCC align=right>
<table>
					<tr>
					

<td align=center class=copyright>

{XAP_LINKS}

</td>
                      <td align=right class=copyright>Автор проекта Сергей Шкель</a><br>
            Все права защищены</td>
					

         <td height=31 align=center> 

	</td>

	<td width=81 height=31 align=center>
<noindex>
<!-- HotLog --><script language="javascript">hotlog_js="1.0";hotlog_r=""+Math.random()+"&s=89155&im=115&r="+escape(document.referrer)+"&pg="+escape(window.location.href);document.cookie="hotlog=1; path=/"; hotlog_r+="&c="+(document.cookie?"Y":"N");</script><script language="javascript1.1">hotlog_js="1.1";hotlog_r+="&j="+(navigator.javaEnabled()?"Y":"N")</script><script language="javascript1.2">hotlog_js="1.2";hotlog_r+="&wh="+screen.width+'x'+screen.height+"&px="+(((navigator.appName.substring(0,3)=="Mic"))?screen.colorDepth:screen.pixelDepth)</script><script language="javascript1.3">hotlog_js="1.3"</script><script language="javascript">hotlog_r+="&js="+hotlog_js;document.write("<a href='http://click.hotlog.ru/?89155' target='_top'><img "+" src='http://hit4.hotlog.ru/cgi-bin/hotlog/count?"+hotlog_r+"&' border=0 width=88 height=31 alt=HotLog></a>")</script><noscript><a href=http://click.hotlog.ru/?89155 target=_top><img src="http://hit4.hotlog.ru/cgi-bin/hotlog/count?s=89155&im=115" border=0 width="88" height="31" alt="HotLog"></a></noscript>
<!-- /HotLog -->
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-4290307-1";
urchinTracker();
</script>
</noindex>
</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
<!--# Footer -->

	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<!--
	We request you retain the full copyright notice below including the link to www.phpbb.com.
	This not only gives respect to the large amount of time given freely by the developers
	but also helps build interest, traffic and use of phpBB3. If you (honestly) cannot retain
	the full copyright we ask you at least leave in place the "Powered by phpBB" line, with
	"phpBB" linked to www.phpbb.com. If you refuse to include even this then support on our
	forums may be affected.

	The phpBB Group : 2006
//-->

<div id="wrapfooter">
	<span class="copyright">Powered by phpBB Group.<br />	
	<!-- IF U_ACP --><span class="gensmall">[ <a rel="nofollow" href="{U_ACP}">{L_ACP}</a> ]</span><br /><br /><!-- ENDIF -->
	<!-- IF DEBUG_OUTPUT --><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span>
</div>

</body>
</html>