<!-- BEGIN topicrow -->
document.writeln(' &bull; {topicrow.POST_TIME} - <a href="{topicrow.U_TOPIC}">{topicrow.TOPIC_TITLE}</a> <a href="{topicrow.U_LAST_POST}"><img src="http://4x4.by/forum/styles/subsilver2/imageset/icon_topic_latest.gif"></a> {topicrow.POSTERNAME} {topicrow.TOPIC_REPLIES}<br />\n');
    <!-- BEGIN first_post_text -->
    document.writeln('{topicrow.first_post_text.TOPIC_FIRST_POST_TEXT}<br />\n');
        <!-- BEGIN attachment -->
        document.writeln('{topicrow.first_post_text.attachment.DISPLAY_ATTACHMENT}<br />\n');
        <!-- END attachment -->
    document.writeln('<br />\n');
    <!-- END first_post_text -->
<!-- END topicrow -->
