<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th colspan="3">{L_RECENT_NEWS}</th>
	</tr>
	<tr>
		<td class="row1"><strong>{L_RECENT_ANNO_TEXT}</strong></td>
		<td class="row1"><strong>{L_RECENT_ANN}</strong></td>
		<td class="row1"><strong>{L_RECENT_TOPICS}</strong></td>
	</tr>
	<tr>
		<td class="row1" valign="top">
			{ANNO_TEXT}
		</td>
		<td class="row1" valign="top">
			<!-- BEGIN latest_announcements -->
				<!-- IF latest_announcements.S_UNREAD_TOPIC -->
					<a href="{latest_announcements.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <a href="{latest_announcements.U_NEWEST_POST}" title="{latest_announcements.FULL_TITLE}" class="link-new">{latest_announcements.TITLE} ({latest_announcements.TOPIC_REPLIES})</a>
				<!-- ELSE -->
					<a href="{latest_announcements.U_LAST_POST}">{LATEST_POST_IMG}</a> <a href="{latest_announcements.U_LAST_POST}" title="{latest_announcements.FULL_TITLE}">{latest_announcements.TITLE} ({latest_announcements.TOPIC_REPLIES})</a>
				<!-- ENDIF -->
				<br />
			<!-- END latest_announcements -->
		</td>
		<td class="row1" valign="top">
			<!-- BEGIN latest_topics -->
				<!-- IF latest_topics.S_UNREAD_TOPIC -->
					<a href="{latest_topics.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <a href="{latest_topics.U_NEWEST_POST}" title="{latest_topics.FULL_TITLE}" class="link-new">{latest_topics.TITLE} ({latest_topics.TOPIC_REPLIES})</a>
				<!-- ELSE -->
					<a href="{latest_topics.U_LAST_POST}">{LATEST_POST_IMG}</a> <a href="{latest_topics.U_LAST_POST}" title="{latest_topics.FULL_TITLE}">{latest_topics.TITLE} ({latest_topics.TOPIC_REPLIES})</a>
				<!-- ENDIF -->
				<br />
			<!-- END latest_topics -->
		</td>
	</tr>
</table>
<br />
