<!-- INCLUDE overall_header.html -->

<div align="center">

<form action="{S_PROFILE_ACTION}" method="post">

<table class="tablebg" width="50%" cellspacing="1" cellpadding="4" border="0">
<tr> 
	<th colspan="2">{L_SEND_PASSWORD}</th>
</tr>
<tr> 
	<td class="row1" width="38%"><b class="genmed">{L_USERNAME}: </b></td>
	<td class="row2"><input type="text" class="post" name="username" size="25" value="{USERNAME}" /></td>
</tr>
<tr> 
	<td class="row1"><b class="genmed">{L_EMAIL_ADDRESS}: </b><br /><span class="gensmall">{L_EMAIL_REMIND}</span></td>
	<td class="row2"><input type="text" class="post" name="email" size="25" maxlength="100" value="{EMAIL}" /></td>
</tr>
<tr> 
	<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input type="submit" name="submit" value="{L_SUBMIT}" class="btnmain" />&nbsp;&nbsp;<input type="reset" value="{L_RESET}" name="reset" class="btnlite" /></td>
</tr>
<tr> 
	<td class="cat" colspan="2" align="center"><i>Если не получается восстановить доступ, отправьте свой запрос через <a href="http://4x4.by/mail/">форму обратной связи</a>.</i></td>
</tr>
</table>
{S_FORM_TOKEN}
</form>

</div>

<!-- INCLUDE overall_footer.html -->