<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>

<h1>{L_ACP_DOWNLOAD_SYSTEM} - {L_ACP_MANAGE_DOWNLOADS}</h1>

<p>{L_ACP_MANAGE_DOWNLOADS_EXPLAIN}</p>

<form id="dm_new" method="post" action="{S_ACTION}">
<fieldset class="tabulated">
	<input type="hidden" name="action" value="new_download" />
	<input class="button2" name="add_download" type="submit" value="{L_ACP_NEW_DOWNLOAD}" />
	{S_FORM_TOKEN}
</fieldset>
</form>

<!-- IF .pagination or TOTAL_DOWNLOADS -->
	<div class="pagination">
		{TOTAL_DOWNLOADS}
		<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
			&bull; {PAGE_NUMBER}
		<!-- ENDIF -->
	</div>
<!-- ENDIF -->

<div class="clear"></div>
<table cellspacing="1">
	<thead>
		<tr>
			<th>{L_ACP_NEW_TITLE}</th>
			<th>{L_ACP_NEW_VERSION}</th>
			<th>{L_ACP_CAT}</th>
			<th>{L_ACP_NEW_DESC}</th>
			<th>{L_ACTION}</th>
		</tr>
	</thead>
	<tbody>
	<!-- BEGIN downloads -->
		<!-- IF downloads.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td valign="top">{downloads.TITLE}</td>
			<td valign="top">{downloads.VERSION} </td>
			<td valign="top">{downloads.CATNAME} </td>
			<td valign="top">{downloads.DESC} </td>
			<td style="width: 10%;">&nbsp;<a href="{downloads.U_COPY}">{downloads.ICON_COPY}</a> <a href="{downloads.U_EDIT}">{ICON_EDIT}</a> <a href="{downloads.U_DEL}">{ICON_DELETE}</a>&nbsp;</td>
		</tr>
		<!-- BEGINELSE -->
		<tr>
			<td colspan="<!-- IF S_CLEAR_ALLOWED -->6<!-- ELSE -->5<!-- ENDIF -->">{L_ACP_NO_DOWNLOADS}</td>
		</tr>
	<!-- END downloads -->
	</tbody>
</table>

<!-- IF .pagination or TOTAL_DOWNLOADS -->
	<div class="pagination">
		{TOTAL_DOWNLOADS}
		<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
			&bull; {PAGE_NUMBER}
		<!-- ENDIF -->
	</div>
<!-- ENDIF -->

<form action="{S_DOWNLOAD_ACTION}" method="post">
<fieldset class="display-options">
	<span class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}&nbsp;
	<input class="button2" type="submit" name="sort" value="{L_GO}" />
</fieldset>
</form>

<!-- INCLUDE overall_footer.html -->
