<!-- INCLUDE overall_header.html -->

<h1>{L_ACP_DOWNLOAD_SYSTEM} - {L_ACP_MANAGE_CONFIG}</h1>

<a name="maincontent"></a>

<!-- BEGIN ext_update -->
<fieldset>
	<legend>{L_EDS_VERSION_CHECK}</legend>
	<p style="font-weight: bold; color: <!-- IF ext_update.EDS_S_UP_TO_DATE -->#228822<!-- ELSE -->#BC2A4D<!-- ENDIF -->;">{ext_update.EDS_UP_TO_DATE}</p>
	<dl>
		<dt><label>{L_EDS_CURRENT_VERSION}{L_COLON}</label></dt>
		<dd><strong>{ext_update.EDS_CURRENT_VERSION}</strong></dd>
	</dl>
	<dl>
		<dt><label>{L_EDS_LATEST_VERSION}{L_COLON}</label></dt>
		<dd><strong>{ext_update.EDS_LATEST_VERSION}</strong></dd>
	</dl>
	<dl>
		<dt><label>{L_EDS_AUTHOR}{L_COLON}</label></dt>
		<dd><strong>{ext_update.EDS_AUTHOR}</strong></dd>
	</dl>
	<!-- IF not ext_update.EDS_S_UP_TO_DATE -->
		<dl>
			<dt><label>{L_EDS_DOWNLOAD_LATEST}{L_COLON}</label></dt>
			<dd><strong><a href="{ext_update.EDS_DOWNLOAD}">{L_EDS_DOWNLOAD} {ext_update.EDS_TITLE} {ext_update.EDS_LATEST_VERSION}</a></strong></dd>
		</dl>
		<dl>
			<dt><label>{L_EDS_ANNOUNCEMENT_TOPIC}{L_COLON}</label></dt>
			<dd><strong><a href="{ext_update.EDS_ANNOUNCEMENT}">{L_EDS_RELEASE_ANNOUNCEMENT}</a></strong></dd>
		</dl>
	<!-- ENDIF -->
</fieldset>
<!-- END ext_update -->

<h2>{L_ACP_BASIC}</h2>
<form id="action_set_pagination_form" method="post" action="{U_ACTION}" enctype="multipart/form-data" >
<fieldset>
	<legend>{L_ACP_MANAGE_CONFIG}</legend>
	<dl>
		<dt><label>{L_ACP_PAGINATION_ACP}{L_COLON}</label><br /><span>{L_ACP_PAGINATION_ACP_EXPLAIN}</span></dt>
		<dd><input type="text" name="pagination_acp" size="5" maxlength="3" value="{PAGINATION_ACP}" /></dd>
	</dl>
	<dl>
		<dt><label>{L_ACP_PAGINATION_USER}{L_COLON}</label><br /><span>{L_ACP_PAGINATION_USER_EXPLAIN}</span></dt>
		<dd><input type="text" name="pagination_user" size="5" maxlength="3" value="{PAGINATION_USER}" /></dd>
	</dl>
</fieldset>

<fieldset>
	<legend>{L_ACP_ANNOUNCE_SETTINGS}</legend>
	<dl>
		<dt><label>{L_ACP_ANNOUNCE_ENABLE}{L_COLON}</label><br />{L_ACP_ANNOUNCE_ENABLE_EXPLAIN}</dt>
		<dd><label><input type="radio" class="radio" name="announce_enable" value="1"<!-- IF ANNOUNCE_ENABLE --> id="announce_enable" checked="checked" <!-- ENDIF --> /> {L_YES}</label>
		<label><input type="radio" class="radio" name="announce_enable" value="0"<!-- IF not ANNOUNCE_ENABLE --> id="announce_enable" checked="checked" <!-- ENDIF --> /> {L_NO}</label></dd>
	</dl>
	<dl>
		<dt><label>{L_ACP_ANNOUNCE_ID}{L_COLON}</label><br />{L_ACP_ANNOUNCE_ID_EXPLAIN}</dt>
		<dd><input type="text" id="announce_forum" name="announce_forum" value="{ANNOUNCE_FORUM}" maxlength="8" size="10" /></dd>
	</dl>
</fieldset>

<p class="submit-buttons">
	<input class="button1" type="submit" id="action_set_pagination" name="action_set_pagination" value="{L_SUBMIT}" />&nbsp;
	<input class="button2" name="reset" value="{L_RESET}" type="reset" />
</p>
</form>

<!-- INCLUDE overall_footer.html -->
