<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>

<h1>{L_ACP_TOPIC_MODERATORS_CONFIG}</h1>

<form id="acp_topic_moderators_config" method="post" action="{U_ACTION}">
	<fieldset><legend>{L_ACP_TOPIC_MODERATORS_DISPLAYOPT}</legend>
		<dl>
			<dt><label for="in_viewtopic">{L_ACP_TOPIC_MDR_IN_VIEWTOPIC}:</label></dt>
			<dd><label><input type="radio" class="radio" name="in_viewtopic" value="1" id="in_viewtopic" {IN_VT_YES_CHECKED}/> {L_YES}</label>
				<label><input type="radio" class="radio" name="in_viewtopic" value="0" {IN_VT_NO_CHECKED}/> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="in_viewforum">{L_ACP_TOPIC_MDR_IN_VIEWFORUM}:</label></dt>
			<dd><label><input type="radio" class="radio" name="in_viewforum" value="1" id="in_viewforum" {IN_VF_YES_CHECKED}/> {L_YES}</label>
				<label><input type="radio" class="radio" name="in_viewforum" value="0" {IN_VF_NO_CHECKED}/> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="own_topic_mdr">{L_ACP_TOPIC_MDR_IF_OWN_TOPIC}:</label><br /><span>{L_ACP_TOPIC_MDR_IF_OWN_TOPIC_EXP}</span></dt>
			<dd><label><input type="radio" class="radio" name="own_topic_mdr" value="1" id="own_topic_mdr" {OWN_YES_CHECKED}/> {L_YES}</label>
				<label><input type="radio" class="radio" name="own_topic_mdr" value="0" {OWN_NO_CHECKED}/> {L_NO}</label></dd>
		</dl>
	</fieldset>
	
	<fieldset><legend>{L_ACP_TOPIC_MDR_AUTO_MDR_OPT}</legend>
		<dl>
			<dt><label for="auto_m_forums">{L_ACP_TOPIC_MDR_AUTO_M_FORUMS}:</label><br /><span>{L_ACP_TOPIC_MDR_AUTO_M_FORUMS_EXP}</span></dt>
			<dd><label><input type="text" size="25" maxlength="250" name="auto_m_forums" value="{AUTO_M_FORUMS}" id="auto_m_forums" /></label></dd>
		</dl>
		<dl>
			<dt><label for="auto_m_display">{L_ACP_TOPIC_MDR_AUTO_M_DISP}:</label></dt>
			<dd><label><input type="radio" class="radio" name="auto_m_display" value="1" {AUTO_M_YES_CHECKED}/> {L_YES}</label>
				<label><input type="radio" class="radio" name="auto_m_display" value="0" id="auto_m_display" {AUTO_M_NO_CHECKED}/> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label>{L_ACP_TOPIC_MDR_AUTO_M_PERMS}</label><br /><span>{L_ACP_TOPIC_MDR_AUTO_M_PERMS_EXP}</span></dt>
			<dd></dd>
		</dl>
		<dl>
			<dt><span>{L_TOPIC_MODERATOR_CAN_REPLY}:</span></dt>
			<dd><label><input type="radio" class="radio" name="can_reply" value="1" {REPLY_YES_CHECKED}/> {L_YES}</label>
				<label><input type="radio" class="radio" name="can_reply" value="0" {REPLY_NO_CHECKED}/> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><span>{L_TOPIC_MODERATOR_CAN_EDIT}:</span></dt>
			<dd><label><input type="radio" class="radio" name="can_edit" value="1" {EDIT_YES_CHECKED}/> {L_YES}</label>
				<label><input type="radio" class="radio" name="can_edit" value="0" {EDIT_NO_CHECKED}/> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><span>{L_TOPIC_MODERATOR_CAN_DELETE}:</span></dt>
			<dd><label><input type="radio" class="radio" name="can_delete" value="1" {DELETE_YES_CHECKED}/> {L_YES}</label>
				<label><input type="radio" class="radio" name="can_delete" value="0" {DELETE_NO_CHECKED}/> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><span>{L_TOPIC_MODERATOR_CAN_LOCK_POST}:</span></dt>
			<dd><label><input type="radio" class="radio" name="can_lock_post" value="1" {LOCK_POST_YES_CHECKED}/> {L_YES}</label>
				<label><input type="radio" class="radio" name="can_lock_post" value="0" {LOCK_POST_NO_CHECKED}/> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><span>{L_TOPIC_MODERATOR_CAN_LOCK_TOPIC}:</span></dt>
			<dd><label><input type="radio" class="radio" name="can_lock_topic" value="1" {LOCK_TOPIC_YES_CHECKED}/> {L_YES}</label>
				<label><input type="radio" class="radio" name="can_lock_topic" value="0" {LOCK_TOPIC_NO_CHECKED}/> {L_NO}</label></dd>
		</dl>
	</fieldset>

	<p class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
	</p>
	{S_HIDDEN_FIELDS}
	{S_FORM_TOKEN}
</form>

<!-- INCLUDE overall_footer.html -->
