<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>

<h1>{L_ACP_TOPIC_MODERATORS_LIST}</h1>

<!-- IF PAGINATION -->
<div class="pagination">
		<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a> &bull; <span>{PAGINATION}</span>
</div>
<!-- ENDIF -->

<table cellspacing="1">
	<thead>
	<tr>
		<th>{L_USERNAME}</th>
		<th>{L_TOPICS}</th>
		<th>{L_ACP_PERMISSIONS}</th>
	</tr>
	</thead>
	<tbody>
	<!-- BEGIN tmrow -->
		<!-- IF tmrow.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td>{tmrow.USERNAME}</td>
			<td style="white-space: nowrap;">{tmrow.TOPICS}</td>
			<td style="white-space: nowrap; text-align: center;">{tmrow.PERMS}</td>
		</tr>
	<!-- END tmrow -->
	</tbody>
</table>

<!-- IF PAGINATION -->
<div class="pagination">
		<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a> &bull; <span>{PAGINATION}</span>
</div>
<!-- ENDIF -->
<br />
<span>{L_ACP_TOPIC_MDR_PERMS_EXPLAIN}</span>

<!-- INCLUDE overall_footer.html -->
